In [27]:
import pandas as pd
import numpy as np
import re

tb_veic = pd.read_csv("data/dados_veiculos.csv")

In [28]:
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

Na aula de hoje vamos continuar utilizando a tabela `dados_veículos.csv`. Além de carregá-la vamos realizar uma limpeza dos nomes das colunas:

In [29]:
pattern = r"[^a-zA-Z0-9]"
tb_veic.columns = [re.sub(pattern, "_", column.lower()) for column in tb_veic.columns]

Vamos utilizar o método `.info()` para ver o resultado:

In [30]:
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make                     35952 non-null  object
 1   model                    35952 non-null  object
 2   year                     35952 non-null  int64
 3   engine_displacement      35952 non-null  float64
 4   cylinders                35952 non-null  float64
 5   transmission             35952 non-null  object
 6   drivetrain               35952 non-null  object
 7   vehicle_class            35952 non-null  object
 8   fuel_type                35952 non-null  object
 9   fuel_barrels_year        35952 non-null  float64
 10  city_mpg                 35952 non-null  int64
 11  highway_mpg              35952 non-null  int64
 12  combined_mpg             35952 non-null  int64
 13  co2_emission_grams_mile  35952 non-null  float64
 14  fuel_cost_year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

# Data Manipulation - Group By

- `.groupby()` é uma forma de **agregar** todos os resultados para cada chave única
- Sempre que você faz uma **agregação**, o resultado final terá 1 linha para cada valor pelo qual você agregou, portanto, é obrigatório que se aplique uma função agregadora para que todos os valores sejam sumarizados em um único valor associado àquela chave.

Por exemplo, se tivermos:

Fruta | Quantidade
-----|----:
Laranja | 10
Maçã | 10
Abacate | 2
Abacate | 1
Melancia  | 1
Laranja  | 4

O resultado de um `.groupby` por 'Fruta' resultaria em 4 linhas

Fruta | Função Agregadora
----|-----
Laranja | ?
Maçã | ?
Abacate | ?
Melancia | ?

O `?` representa o valor agregado. Temos, obrigatoriamente, que sumarizar os dados relacionados àquele registro em um único dado. Para isso, podemos fazer a média, soma, contagem, ou qualquer outra função agregadora.

Fruta | soma(Quantidade)
----|----:
Laranja | 14
Maçã | 10
Abacate | 3
Melancia | 1

**Funções agregadora/Métodos**

- `.mean()`
- `.median()`
- `.max()`
- `.min()`
- `.sum()`
- `.count()`
- `.describe()`
- `.agg()`
- Uma função sua!

## Chave Única e Função Única

Vamos começar com o tipo mais simples de agregação: utilizando apenas uma coluna como **chave** e uma função como **agregação**. Vamos começar analisando a média de nossas variáveis numéricas, utilizando como chave a coluna `drivetrain` (*transmissão*).

Para isso utilizaremos o método `.groupby()` - um método dos DataFrames. Para utilizarmos este método, vamos analisar sua sintaxe:

* `tb_veic` - tabela que vamos agregar
* `.groupby(by = 'drivetrain')` - método para criar os grupos de **chaves**, especificada no argumento `by`
* `.mean()` - método para agregar as variáveis restantes (que não compõe a chave), neste caso através da média.

Juntando tudo temos:

In [32]:
tb_veic.head()

,make,model,year,engine_displacement,cylinders,transmission,drivetrain,vehicle_class,fuel_type,fuel_barrels_year,city_mpg,highway_mpg,combined_mpg,co2_emission_grams_mile,fuel_cost_year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [33]:
tb_veic["drivetrain"].value_counts()

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: drivetrain, dtype: int64

In [31]:
tb_veic.groupby(by="drivetrain").mean()

/var/folders/c2/4vv1dtt97gl9bn1lvw8rf0k40000gn/T/ipykernel_31928/1241444624.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tb_veic.groupby(by="drivetrain").mean()

,year,engine_displacement,cylinders,fuel_barrels_year,city_mpg,highway_mpg,combined_mpg,co2_emission_grams_mile,fuel_cost_year
drivetrain,,,,,,,,,
2-Wheel Drive,1984.434988,3.958392,6.156028,21.069467,15.624113,19.340426,17.009456,567.245856,2115.011820
"2-Wheel Drive, Front",2017.000000,2.000000,4.000000,11.771786,25.000000,33.000000,28.000000,315.000000,1450.000000
4-Wheel Drive,2013.137996,4.022306,6.364839,17.942952,16.913989,22.741966,19.077505,483.555289,1971.644612
4-Wheel or All-Wheel Drive,1998.014916,3.746917,6.143626,20.484720,15.035061,19.633708,16.744733,552.307814,2165.023835
All-Wheel Drive,2013.678274,3.299019,5.980383,16.349672,18.312898,25.597352,20.930358,439.612624,1863.217263
Front-Wheel Drive,2000.290632,2.353657,4.608172,14.266654,21.174563,28.616759,23.912220,385.094288,1503.131708
Part-time 4-Wheel Drive,2013.816456,4.543671,7.113924,20.628218,14.620253,19.088608,16.272152,556.205134,2131.645570
Rear-Wheel Drive,1999.801037,4.053245,6.643486,19.587486,15.422049,21.225680,17.526481,529.438424,2140.397611

Vamos testar a mesma **chave** mas utilizando o método de **agregação** `.count()`, que calcula o # de linhas com valores não-nulos.

In [35]:
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make                     35952 non-null  object
 1   model                    35952 non-null  object
 2   year                     35952 non-null  int64
 3   engine_displacement      35952 non-null  float64
 4   cylinders                35952 non-null  float64
 5   transmission             35952 non-null  object
 6   drivetrain               35952 non-null  object
 7   vehicle_class            35952 non-null  object
 8   fuel_type                35952 non-null  object
 9   fuel_barrels_year        35952 non-null  float64
 10  city_mpg                 35952 non-null  int64
 11  highway_mpg              35952 non-null  int64
 12  combined_mpg             35952 non-null  int64
 13  co2_emission_grams_mile  35952 non-null  float64
 14  fuel_cost_year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [34]:
tb_veic.groupby(by="drivetrain").count()

,make,model,year,engine_displacement,cylinders,transmission,vehicle_class,fuel_type,fuel_barrels_year,city_mpg,highway_mpg,combined_mpg,co2_emission_grams_mile,fuel_cost_year
drivetrain,,,,,,,,,,,,,,
2-Wheel Drive,423,423,423,423,423,423,423,423,423,423,423,423,423,423
"2-Wheel Drive, Front",1,1,1,1,1,1,1,1,1,1,1,1,1,1
4-Wheel Drive,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058
4-Wheel or All-Wheel Drive,6503,6503,6503,6503,6503,6503,6503,6503,6503,6503,6503,6503,6503,6503
All-Wheel Drive,2039,2039,2039,2039,2039,2039,2039,2039,2039,2039,2039,2039,2039,2039
Front-Wheel Drive,13044,13044,13044,13044,13044,13044,13044,13044,13044,13044,13044,13044,13044,13044
Part-time 4-Wheel Drive,158,158,158,158,158,158,158,158,158,158,158,158,158,158
Rear-Wheel Drive,12726,12726,12726,12726,12726,12726,12726,12726,12726,12726,12726,12726,12726,12726

In [36]:
tb_veic["drivetrain"].value_counts()

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: drivetrain, dtype: int64

Podemos guardar o resultado de uma agregação em uma variável: o resultado (após aplicação da função de agregação) é um `DataFrame` onde os índices (*nome das linhas*) são os valores da chave e cada coluna é o resultado da aplicação da função de agregação.

In [37]:
tb_agg_drivetrain = tb_veic.groupby(by="drivetrain").count()
type(tb_agg_drivetrain)

pandas.core.frame.DataFrame

In [38]:
tb_agg_drivetrain.head()

,make,model,year,engine_displacement,cylinders,transmission,vehicle_class,fuel_type,fuel_barrels_year,city_mpg,highway_mpg,combined_mpg,co2_emission_grams_mile,fuel_cost_year
drivetrain,,,,,,,,,,,,,,
2-Wheel Drive,423,423,423,423,423,423,423,423,423,423,423,423,423,423
"2-Wheel Drive, Front",1,1,1,1,1,1,1,1,1,1,1,1,1,1
4-Wheel Drive,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058
4-Wheel or All-Wheel Drive,6503,6503,6503,6503,6503,6503,6503,6503,6503,6503,6503,6503,6503,6503
All-Wheel Drive,2039,2039,2039,2039,2039,2039,2039,2039,2039,2039,2039,2039,2039,2039

In [39]:
tb_agg_drivetrain.loc["4-Wheel or All-Wheel Drive", :]

make                       6503
model                      6503
year                       6503
engine_displacement        6503
cylinders                  6503
transmission               6503
vehicle_class              6503
fuel_type                  6503
fuel_barrels_year          6503
city_mpg                   6503
highway_mpg                6503
combined_mpg               6503
co2_emission_grams_mile    6503
fuel_cost_year             6503
Name: 4-Wheel or All-Wheel Drive, dtype: int64

### Agregando apenas uma variável

No exemplo acima, ao utilizarmos os métodos `.mean()` e `.median()` recebemos de volta uma agregação de todas as variáveis numéricas (no caso, todas as variáveis para as quais estes métodos funcionam).

No entanto, muitas vezes queremos agregar apenas uma (ou algumas) variáveis. Vamos ver como fazer isso de uma maneira simples, calculando o número de ciclindros médio por tipo de tração:

In [40]:
tb_veic.groupby(by="drivetrain")["cylinders"].mean()

drivetrain
2-Wheel Drive                 6.156028
2-Wheel Drive, Front          4.000000
4-Wheel Drive                 6.364839
4-Wheel or All-Wheel Drive    6.143626
All-Wheel Drive               5.980383
Front-Wheel Drive             4.608172
Part-time 4-Wheel Drive       7.113924
Rear-Wheel Drive              6.643486
Name: cylinders, dtype: float64

In [41]:
type(tb_veic.groupby(by="drivetrain")["cylinders"].mean())

pandas.core.series.Series

Um método muito utilizado após a agregação é o `.reset_index()` que transforma o índice da chave de volta em coluna:

In [42]:
tb_veic.groupby(by="drivetrain")["cylinders"].mean().reset_index()

                   drivetrain  cylinders
0               2-Wheel Drive   6.156028
1        2-Wheel Drive, Front   4.000000
2               4-Wheel Drive   6.364839
3  4-Wheel or All-Wheel Drive   6.143626
4             All-Wheel Drive   5.980383
5           Front-Wheel Drive   4.608172
6     Part-time 4-Wheel Drive   7.113924
7            Rear-Wheel Drive   6.643486

In [43]:
tb_veic.groupby(by="drivetrain")[["cylinders"]].mean()

                            cylinders
drivetrain
2-Wheel Drive                6.156028
2-Wheel Drive, Front         4.000000
4-Wheel Drive                6.364839
4-Wheel or All-Wheel Drive   6.143626
All-Wheel Drive              5.980383
Front-Wheel Drive            4.608172
Part-time 4-Wheel Drive      7.113924
Rear-Wheel Drive             6.643486

In [44]:
tb_veic.groupby(by="drivetrain", as_index = False)["cylinders"].mean()

                   drivetrain  cylinders
0               2-Wheel Drive   6.156028
1        2-Wheel Drive, Front   4.000000
2               4-Wheel Drive   6.364839
3  4-Wheel or All-Wheel Drive   6.143626
4             All-Wheel Drive   5.980383
5           Front-Wheel Drive   4.608172
6     Part-time 4-Wheel Drive   7.113924
7            Rear-Wheel Drive   6.643486

Podemos utilizar um iterável no lugar do string `"cylinders"` para calcular a média de múltiplas variáveis:

In [46]:
tb_veic.columns

Index(['make', 'model', 'year', 'engine_displacement', 'cylinders',
       'transmission', 'drivetrain', 'vehicle_class', 'fuel_type',
       'fuel_barrels_year', 'city_mpg', 'highway_mpg', 'combined_mpg',
       'co2_emission_grams_mile', 'fuel_cost_year'],
      dtype='object')

In [47]:
lista_vars = ["highway_mpg", "city_mpg"]
tb_veic.groupby(by="drivetrain")[lista_vars].mean().reset_index()

                   drivetrain  highway_mpg   city_mpg
0               2-Wheel Drive    19.340426  15.624113
1        2-Wheel Drive, Front    33.000000  25.000000
2               4-Wheel Drive    22.741966  16.913989
3  4-Wheel or All-Wheel Drive    19.633708  15.035061
4             All-Wheel Drive    25.597352  18.312898
5           Front-Wheel Drive    28.616759  21.174563
6     Part-time 4-Wheel Drive    19.088608  14.620253
7            Rear-Wheel Drive    21.225680  15.422049

## Chave Múltipla e Função Única

As chaves especificadas no *argumento* `by = ` do método `.groupby()` não precisa ser um `string`! Podemos utilizar um iterável para criar uma chave combinada. Por exemplo, queremos analisar a média das variáveis `city_mpg` (eficiência urbana do automóvel) e `highway_mpg` (eficiência na estrada) para as diferentes combinações de tração, `drivetrain`, e # de cilíndros, `cylinders`:

In [48]:
lista_vars = ["city_mpg", "highway_mpg"]
tb_veic.groupby(by=["drivetrain", "cylinders"])[lista_vars].mean()

                                       city_mpg  highway_mpg
drivetrain                 cylinders
2-Wheel Drive              4.0        20.437500    24.710938
                           6.0        14.291045    18.126866
                           8.0        12.906832    16.080745
2-Wheel Drive, Front       4.0        25.000000    33.000000
4-Wheel Drive              4.0        21.252475    26.856436
                           5.0        15.909091    21.000000
                           6.0        17.439535    23.753488
                           8.0        14.248139    19.719603
                           12.0       11.000000    13.000000
4-Wheel or All-Wheel Drive 3.0        25.545455    29.363636
                           4.0        18.540574    23.089263
                           5.0        16.041420    22.337278
                           6.0        14.896693    19.773690
                           8.0        12.401130    16.468927
                           10.0       11.666667    17.666667
                           12.0        9.431373    14.843137
                           16.0        8.000000    14.000000
All-Wheel Drive            3.0        28.000000    29.000000
                           4.0        21.753943    29.096215
                           5.0        19.473684    27.473684
                           6.0        17.987207    25.321962
                           8.0        14.699405    21.773810
                           10.0       12.808511    20.042553
                           12.0       11.303571    18.535714
                           16.0        8.000000    14.833333
Front-Wheel Drive          3.0        34.760479    41.371257
                           4.0        22.736087    30.124502
                           5.0        18.557604    25.976959
                           6.0        17.230239    24.840759
                           8.0        14.779661    22.423729
Part-time 4-Wheel Drive    4.0        18.200000    21.000000
                           6.0        16.015625    20.703125
                           8.0        13.104478    17.582090
                           12.0       11.166667    16.500000
Rear-Wheel Drive           2.0        17.000000    22.937500
                           3.0        33.300000    39.300000
                           4.0        19.036235    24.673882
                           5.0        17.392405    22.974684
                           6.0        16.125870    22.254723
                           8.0        13.483187    18.992460
                           10.0       10.934211    17.605263
                           12.0       11.002262    17.038462

O resultado é um DataFrame com um `MultIndex`: um índice com mais de um *nível*. Para cada tipo de transmissão temos todos os # de ciclindros daquela transmissão (`4`, `6` e `8` para `2-Wheel Drive` por exemplo). Para acessar diferentes linhas através de nossa chave, utilizaremos um índice em tupla:

In [49]:
tb_agg_cyldt = tb_veic.groupby(by=["drivetrain", "cylinders"])[lista_vars].mean()

In [50]:
tb_agg_cyldt

                                       city_mpg  highway_mpg
drivetrain                 cylinders
2-Wheel Drive              4.0        20.437500    24.710938
                           6.0        14.291045    18.126866
                           8.0        12.906832    16.080745
2-Wheel Drive, Front       4.0        25.000000    33.000000
4-Wheel Drive              4.0        21.252475    26.856436
                           5.0        15.909091    21.000000
                           6.0        17.439535    23.753488
                           8.0        14.248139    19.719603
                           12.0       11.000000    13.000000
4-Wheel or All-Wheel Drive 3.0        25.545455    29.363636
                           4.0        18.540574    23.089263
                           5.0        16.041420    22.337278
                           6.0        14.896693    19.773690
                           8.0        12.401130    16.468927
                           10.0       11.666667    17.666667
                           12.0        9.431373    14.843137
                           16.0        8.000000    14.000000
All-Wheel Drive            3.0        28.000000    29.000000
                           4.0        21.753943    29.096215
                           5.0        19.473684    27.473684
                           6.0        17.987207    25.321962
                           8.0        14.699405    21.773810
                           10.0       12.808511    20.042553
                           12.0       11.303571    18.535714
                           16.0        8.000000    14.833333
Front-Wheel Drive          3.0        34.760479    41.371257
                           4.0        22.736087    30.124502
                           5.0        18.557604    25.976959
                           6.0        17.230239    24.840759
                           8.0        14.779661    22.423729
Part-time 4-Wheel Drive    4.0        18.200000    21.000000
                           6.0        16.015625    20.703125
                           8.0        13.104478    17.582090
                           12.0       11.166667    16.500000
Rear-Wheel Drive           2.0        17.000000    22.937500
                           3.0        33.300000    39.300000
                           4.0        19.036235    24.673882
                           5.0        17.392405    22.974684
                           6.0        16.125870    22.254723
                           8.0        13.483187    18.992460
                           10.0       10.934211    17.605263
                           12.0       11.002262    17.038462

In [51]:
tb_agg_cyldt.loc[("2-Wheel Drive", 4), :]

city_mpg       20.437500
highway_mpg    24.710938
Name: (2-Wheel Drive, 4.0), dtype: float64

Podemos utilizar o método `.reset_index()` para construir uma tabela *normal* a partir disto:

In [52]:
tb_agg_cyldt = (
    tb_veic
    .groupby(by=["drivetrain", "cylinders"])[lista_vars]
    .median()
    .reset_index()
)
tb_agg_cyldt.head(10)

                   drivetrain  cylinders  city_mpg  highway_mpg
0               2-Wheel Drive        4.0      20.0         25.0
1               2-Wheel Drive        6.0      14.0         17.0
2               2-Wheel Drive        8.0      12.0         15.0
3        2-Wheel Drive, Front        4.0      25.0         33.0
4               4-Wheel Drive        4.0      21.0         27.0
5               4-Wheel Drive        5.0      16.0         21.0
6               4-Wheel Drive        6.0      18.0         24.0
7               4-Wheel Drive        8.0      14.0         19.0
8               4-Wheel Drive       12.0      11.0         13.0
9  4-Wheel or All-Wheel Drive        3.0      25.0         29.0

### Desafio - respondendo perguntas usando agregação

Agregações nos permitem resumir dados e, desta forma, buscar padrões e avaliar hipóteses. Vamos tentar responder uma pergunta simples: *qual tamanho de motor (`cylinders` e `engine_displacement`) de automóveis apresenta a maior eficiência no consumo de combustíveis?*

In [53]:
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make                     35952 non-null  object
 1   model                    35952 non-null  object
 2   year                     35952 non-null  int64
 3   engine_displacement      35952 non-null  float64
 4   cylinders                35952 non-null  float64
 5   transmission             35952 non-null  object
 6   drivetrain               35952 non-null  object
 7   vehicle_class            35952 non-null  object
 8   fuel_type                35952 non-null  object
 9   fuel_barrels_year        35952 non-null  float64
 10  city_mpg                 35952 non-null  int64
 11  highway_mpg              35952 non-null  int64
 12  combined_mpg             35952 non-null  int64
 13  co2_emission_grams_mile  35952 non-null  float64
 14  fuel_cost_year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [56]:
# DESAFIO
lista_vars = ["city_mpg", "highway_mpg", "combined_mpg"]

tb_veic\
.groupby(by = ["cylinders", "engine_displacement"])[lista_vars]\
.mean()\
.reset_index()\
.sort_values(by = "combined_mpg")

     cylinders  engine_displacement   city_mpg  highway_mpg  combined_mpg
116       12.0                  5.2   6.000000    10.000000      7.000000
113       12.0                  4.7   7.000000    10.000000      8.000000
104        8.0                  7.4   9.000000    11.500000      9.750000
130       16.0                  8.0   8.000000    14.625000     10.000000
125       12.0                  6.2   8.375000    12.875000     10.375000
..         ...                  ...        ...          ...           ...
10         4.0                  1.3  30.189781    35.051095     32.102190
9          4.0                  1.2  30.333333    38.500000     33.666667
3          3.0                  0.9  32.500000    38.500000     35.000000
4          3.0                  1.0  35.365385    41.929487     38.070513
0          2.0                  0.6  41.000000    37.000000     39.000000

[131 rows x 5 columns]

In [57]:
# DESAFIO
lista_vars = ["city_mpg", "highway_mpg", "combined_mpg"]

tb_veic\
.groupby(by = ["cylinders", "engine_displacement"])[lista_vars]\
.count()\
.reset_index()\
.sort_values(by = "combined_mpg")

     cylinders  engine_displacement  city_mpg  highway_mpg  combined_mpg
65         6.0                  5.3         1            1             1
120       12.0                  5.6         1            1             1
113       12.0                  4.7         1            1             1
105       10.0                  4.8         1            1             1
63         6.0                  5.0         1            1             1
..         ...                  ...       ...          ...           ...
15         4.0                  1.8      1437         1437          1437
22         4.0                  2.5      1524         1524          1524
21         4.0                  2.4      1728         1728          1728
46         6.0                  3.0      2836         2836          2836
17         4.0                  2.0      3342         3342          3342

[131 rows x 5 columns]

## Chave Múltipla e Múltiplas Funções

Além de incluirmos mais que uma variável como chave de nosso agrupamento, podemos utilizar mais que uma função de agregação ao mesmo tempo. Por exemplo, vamos calcular a média e a mediana para a variável `city_mpg`. Para isso utilizaremos o método `.agg()` no lugar da nossa função de agregação. Vamos passar um iterável com o **nome** de cada função de agregação que utilizaremos:

In [59]:
tb_veic.groupby(by=["drivetrain", "cylinders"])["city_mpg"].mean().reset_index()

                    drivetrain  cylinders   city_mpg
0                2-Wheel Drive        4.0  20.437500
1                2-Wheel Drive        6.0  14.291045
2                2-Wheel Drive        8.0  12.906832
3         2-Wheel Drive, Front        4.0  25.000000
4                4-Wheel Drive        4.0  21.252475
5                4-Wheel Drive        5.0  15.909091
6                4-Wheel Drive        6.0  17.439535
7                4-Wheel Drive        8.0  14.248139
8                4-Wheel Drive       12.0  11.000000
9   4-Wheel or All-Wheel Drive        3.0  25.545455
10  4-Wheel or All-Wheel Drive        4.0  18.540574
11  4-Wheel or All-Wheel Drive        5.0  16.041420
12  4-Wheel or All-Wheel Drive        6.0  14.896693
13  4-Wheel or All-Wheel Drive        8.0  12.401130
14  4-Wheel or All-Wheel Drive       10.0  11.666667
15  4-Wheel or All-Wheel Drive       12.0   9.431373
16  4-Wheel or All-Wheel Drive       16.0   8.000000
17             All-Wheel Drive        3.0  28.000000
18             All-Wheel Drive        4.0  21.753943
19             All-Wheel Drive        5.0  19.473684
20             All-Wheel Drive        6.0  17.987207
21             All-Wheel Drive        8.0  14.699405
22             All-Wheel Drive       10.0  12.808511
23             All-Wheel Drive       12.0  11.303571
24             All-Wheel Drive       16.0   8.000000
25           Front-Wheel Drive        3.0  34.760479
26           Front-Wheel Drive        4.0  22.736087
27           Front-Wheel Drive        5.0  18.557604
28           Front-Wheel Drive        6.0  17.230239
29           Front-Wheel Drive        8.0  14.779661
30     Part-time 4-Wheel Drive        4.0  18.200000
31     Part-time 4-Wheel Drive        6.0  16.015625
32     Part-time 4-Wheel Drive        8.0  13.104478
33     Part-time 4-Wheel Drive       12.0  11.166667
34            Rear-Wheel Drive        2.0  17.000000
35            Rear-Wheel Drive        3.0  33.300000
36            Rear-Wheel Drive        4.0  19.036235
37            Rear-Wheel Drive        5.0  17.392405
38            Rear-Wheel Drive        6.0  16.125870
39            Rear-Wheel Drive        8.0  13.483187
40            Rear-Wheel Drive       10.0  10.934211
41            Rear-Wheel Drive       12.0  11.002262

In [60]:
tb_veic.groupby(by=["drivetrain", "cylinders"])["city_mpg"].median().reset_index()

                    drivetrain  cylinders  city_mpg
0                2-Wheel Drive        4.0      20.0
1                2-Wheel Drive        6.0      14.0
2                2-Wheel Drive        8.0      12.0
3         2-Wheel Drive, Front        4.0      25.0
4                4-Wheel Drive        4.0      21.0
5                4-Wheel Drive        5.0      16.0
6                4-Wheel Drive        6.0      18.0
7                4-Wheel Drive        8.0      14.0
8                4-Wheel Drive       12.0      11.0
9   4-Wheel or All-Wheel Drive        3.0      25.0
10  4-Wheel or All-Wheel Drive        4.0      18.0
11  4-Wheel or All-Wheel Drive        5.0      16.0
12  4-Wheel or All-Wheel Drive        6.0      15.0
13  4-Wheel or All-Wheel Drive        8.0      12.0
14  4-Wheel or All-Wheel Drive       10.0      11.0
15  4-Wheel or All-Wheel Drive       12.0       9.0
16  4-Wheel or All-Wheel Drive       16.0       8.0
17             All-Wheel Drive        3.0      28.0
18             All-Wheel Drive        4.0      22.0
19             All-Wheel Drive        5.0      20.0
20             All-Wheel Drive        6.0      18.0
21             All-Wheel Drive        8.0      15.0
22             All-Wheel Drive       10.0      13.0
23             All-Wheel Drive       12.0      12.0
24             All-Wheel Drive       16.0       8.0
25           Front-Wheel Drive        3.0      34.0
26           Front-Wheel Drive        4.0      22.0
27           Front-Wheel Drive        5.0      18.0
28           Front-Wheel Drive        6.0      17.0
29           Front-Wheel Drive        8.0      15.0
30     Part-time 4-Wheel Drive        4.0      18.0
31     Part-time 4-Wheel Drive        6.0      16.0
32     Part-time 4-Wheel Drive        8.0      13.0
33     Part-time 4-Wheel Drive       12.0      11.0
34            Rear-Wheel Drive        2.0      15.0
35            Rear-Wheel Drive        3.0      33.0
36            Rear-Wheel Drive        4.0      19.0
37            Rear-Wheel Drive        5.0      17.0
38            Rear-Wheel Drive        6.0      16.0
39            Rear-Wheel Drive        8.0      14.0
40            Rear-Wheel Drive       10.0      11.0
41            Rear-Wheel Drive       12.0      11.0

In [63]:
tb_agg_musig_cyldt = (
    tb_veic
    .groupby(by=["drivetrain", "cylinders"])["city_mpg"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

tb_agg_musig_cyldt

                    drivetrain  cylinders       mean  median  count
0                2-Wheel Drive        4.0  20.437500    20.0    128
1                2-Wheel Drive        6.0  14.291045    14.0    134
2                2-Wheel Drive        8.0  12.906832    12.0    161
3         2-Wheel Drive, Front        4.0  25.000000    25.0      1
4                4-Wheel Drive        4.0  21.252475    21.0    202
5                4-Wheel Drive        5.0  15.909091    16.0     22
6                4-Wheel Drive        6.0  17.439535    18.0    430
7                4-Wheel Drive        8.0  14.248139    14.0    403
8                4-Wheel Drive       12.0  11.000000    11.0      1
9   4-Wheel or All-Wheel Drive        3.0  25.545455    25.0     11
10  4-Wheel or All-Wheel Drive        4.0  18.540574    18.0   1602
11  4-Wheel or All-Wheel Drive        5.0  16.041420    16.0    169
12  4-Wheel or All-Wheel Drive        6.0  14.896693    15.0   2691
13  4-Wheel or All-Wheel Drive        8.0  12.401130    12.0   1947
14  4-Wheel or All-Wheel Drive       10.0  11.666667    11.0     30
15  4-Wheel or All-Wheel Drive       12.0   9.431373     9.0     51
16  4-Wheel or All-Wheel Drive       16.0   8.000000     8.0      2
17             All-Wheel Drive        3.0  28.000000    28.0      3
18             All-Wheel Drive        4.0  21.753943    22.0    634
19             All-Wheel Drive        5.0  19.473684    20.0     19
20             All-Wheel Drive        6.0  17.987207    18.0    938
21             All-Wheel Drive        8.0  14.699405    15.0    336
22             All-Wheel Drive       10.0  12.808511    13.0     47
23             All-Wheel Drive       12.0  11.303571    12.0     56
24             All-Wheel Drive       16.0   8.000000     8.0      6
25           Front-Wheel Drive        3.0  34.760479    34.0    167
26           Front-Wheel Drive        4.0  22.736087    22.0   8787
27           Front-Wheel Drive        5.0  18.557604    18.0    434
28           Front-Wheel Drive        6.0  17.230239    17.0   3479
29           Front-Wheel Drive        8.0  14.779661    15.0    177
30     Part-time 4-Wheel Drive        4.0  18.200000    18.0     15
31     Part-time 4-Wheel Drive        6.0  16.015625    16.0     64
32     Part-time 4-Wheel Drive        8.0  13.104478    13.0     67
33     Part-time 4-Wheel Drive       12.0  11.166667    11.0     12
34            Rear-Wheel Drive        2.0  17.000000    15.0     48
35            Rear-Wheel Drive        3.0  33.300000    33.0     20
36            Rear-Wheel Drive        4.0  19.036235    19.0   2125
37            Rear-Wheel Drive        5.0  17.392405    17.0     79
38            Rear-Wheel Drive        6.0  16.125870    16.0   5029
39            Rear-Wheel Drive        8.0  13.483187    14.0   4907
40            Rear-Wheel Drive       10.0  10.934211    11.0     76
41            Rear-Wheel Drive       12.0  11.002262    11.0    442

Vamos utilizar o método `.reset_index()` para colapsar os `MultIndex` de nossa tabela:

In [64]:
tb_agg_cyldt = tb_veic.groupby(by=["drivetrain", "cylinders"])["city_mpg"].agg(
    ["mean", "median"]
).reset_index()
tb_agg_cyldt.head(10)

                   drivetrain  cylinders       mean  median
0               2-Wheel Drive        4.0  20.437500    20.0
1               2-Wheel Drive        6.0  14.291045    14.0
2               2-Wheel Drive        8.0  12.906832    12.0
3        2-Wheel Drive, Front        4.0  25.000000    25.0
4               4-Wheel Drive        4.0  21.252475    21.0
5               4-Wheel Drive        5.0  15.909091    16.0
6               4-Wheel Drive        6.0  17.439535    18.0
7               4-Wheel Drive        8.0  14.248139    14.0
8               4-Wheel Drive       12.0  11.000000    11.0
9  4-Wheel or All-Wheel Drive        3.0  25.545455    25.0

Podemos calcular múltiplas agregações de múltiplas chaves mas devemos tomar cuidado com o **nome das colunas**: ele será um `MultIndex`!

In [65]:
lista_vars

['city_mpg', 'highway_mpg', 'combined_mpg']

In [66]:
tb_agg_cyldt = tb_veic.groupby(by=["drivetrain", "cylinders"])[lista_vars].agg(
    ["mean", "median"]
)
tb_agg_cyldt.head(10)

                                       city_mpg        highway_mpg         \
                                           mean median        mean median
drivetrain                 cylinders
2-Wheel Drive              4.0        20.437500   20.0   24.710938   25.0
                           6.0        14.291045   14.0   18.126866   17.0
                           8.0        12.906832   12.0   16.080745   15.0
2-Wheel Drive, Front       4.0        25.000000   25.0   33.000000   33.0
4-Wheel Drive              4.0        21.252475   21.0   26.856436   27.0
                           5.0        15.909091   16.0   21.000000   21.0
                           6.0        17.439535   18.0   23.753488   24.0
                           8.0        14.248139   14.0   19.719603   19.0
                           12.0       11.000000   11.0   13.000000   13.0
4-Wheel or All-Wheel Drive 3.0        25.545455   25.0   29.363636   29.0

                                     combined_mpg
                                             mean median
drivetrain                 cylinders
2-Wheel Drive              4.0          22.093750   22.0
                           6.0          15.634328   15.0
                           8.0          14.111801   13.0
2-Wheel Drive, Front       4.0          28.000000   28.0
4-Wheel Drive              4.0          23.400990   23.0
                           5.0          17.818182   18.0
                           6.0          19.783721   20.0
                           8.0          16.243176   16.0
                           12.0         12.000000   12.0
4-Wheel or All-Wheel Drive 3.0          26.909091   27.0

In [67]:
tb_agg_cyldt.columns

MultiIndex([(    'city_mpg',   'mean'),
            (    'city_mpg', 'median'),
            ( 'highway_mpg',   'mean'),
            ( 'highway_mpg', 'median'),
            ('combined_mpg',   'mean'),
            ('combined_mpg', 'median')],
           )

In [70]:
tb_agg_cyldt[[('city_mpg', 'mean'), ('city_mpg', 'median')]]

                                       city_mpg
                                           mean median
drivetrain                 cylinders
2-Wheel Drive              4.0        20.437500   20.0
                           6.0        14.291045   14.0
                           8.0        12.906832   12.0
2-Wheel Drive, Front       4.0        25.000000   25.0
4-Wheel Drive              4.0        21.252475   21.0
                           5.0        15.909091   16.0
                           6.0        17.439535   18.0
                           8.0        14.248139   14.0
                           12.0       11.000000   11.0
4-Wheel or All-Wheel Drive 3.0        25.545455   25.0
                           4.0        18.540574   18.0
                           5.0        16.041420   16.0
                           6.0        14.896693   15.0
                           8.0        12.401130   12.0
                           10.0       11.666667   11.0
                           12.0        9.431373    9.0
                           16.0        8.000000    8.0
All-Wheel Drive            3.0        28.000000   28.0
                           4.0        21.753943   22.0
                           5.0        19.473684   20.0
                           6.0        17.987207   18.0
                           8.0        14.699405   15.0
                           10.0       12.808511   13.0
                           12.0       11.303571   12.0
                           16.0        8.000000    8.0
Front-Wheel Drive          3.0        34.760479   34.0
                           4.0        22.736087   22.0
                           5.0        18.557604   18.0
                           6.0        17.230239   17.0
                           8.0        14.779661   15.0
Part-time 4-Wheel Drive    4.0        18.200000   18.0
                           6.0        16.015625   16.0
                           8.0        13.104478   13.0
                           12.0       11.166667   11.0
Rear-Wheel Drive           2.0        17.000000   15.0
                           3.0        33.300000   33.0
                           4.0        19.036235   19.0
                           5.0        17.392405   17.0
                           6.0        16.125870   16.0
                           8.0        13.483187   14.0
                           10.0       10.934211   11.0
                           12.0       11.002262   11.0

Se utilizarmos o método `.reset_index()` teremos nossas chaves como colunas, mas o nome das colunas agregadas continuará sendo um `MultIndex`:

In [71]:
tb_agg_cyldt = tb_veic.groupby(by=["drivetrain", "cylinders"])[lista_vars].agg(
    ["mean", "median"]
).reset_index()
tb_agg_cyldt.head(10)

                   drivetrain cylinders   city_mpg        highway_mpg         \
                                              mean median        mean median
0               2-Wheel Drive       4.0  20.437500   20.0   24.710938   25.0
1               2-Wheel Drive       6.0  14.291045   14.0   18.126866   17.0
2               2-Wheel Drive       8.0  12.906832   12.0   16.080745   15.0
3        2-Wheel Drive, Front       4.0  25.000000   25.0   33.000000   33.0
4               4-Wheel Drive       4.0  21.252475   21.0   26.856436   27.0
5               4-Wheel Drive       5.0  15.909091   16.0   21.000000   21.0
6               4-Wheel Drive       6.0  17.439535   18.0   23.753488   24.0
7               4-Wheel Drive       8.0  14.248139   14.0   19.719603   19.0
8               4-Wheel Drive      12.0  11.000000   11.0   13.000000   13.0
9  4-Wheel or All-Wheel Drive       3.0  25.545455   25.0   29.363636   29.0

  combined_mpg
          mean median
0    22.093750   22.0
1    15.634328   15.0
2    14.111801   13.0
3    28.000000   28.0
4    23.400990   23.0
5    17.818182   18.0
6    19.783721   20.0
7    16.243176   16.0
8    12.000000   12.0
9    26.909091   27.0

In [72]:
tb_agg_cyldt.columns

MultiIndex([(  'drivetrain',       ''),
            (   'cylinders',       ''),
            (    'city_mpg',   'mean'),
            (    'city_mpg', 'median'),
            ( 'highway_mpg',   'mean'),
            ( 'highway_mpg', 'median'),
            ('combined_mpg',   'mean'),
            ('combined_mpg', 'median')],
           )

In [78]:
tb_veic.groupby("cylinders")["city_mpg"].agg(["mean", "count"])

                mean  count
cylinders
2.0        17.000000     48
3.0        34.009950    201
4.0        21.560323  13494
5.0        17.785615    723
6.0        16.328946  12765
8.0        13.323331   7998
10.0       11.653595    153
12.0       10.893238    562
16.0        8.000000      8

### Agregação Nomeada

A situação apresentada acima não é ideal por dois motivos:

1. Muitas vezes queremos especificar colunas específicas para cada agregação (por exemplo, a **média** de `city_mpg` e o máximo de `year`);
1. Além disso seria bom conseguir nomear explicitamente as variáveis criadas (por exemplo, `mean_city_mpg` e `max_year`).

Para resolver esses dois problemas podemos utilizar uma outra maneira de agregação: a agregação nomeada. Ao invés de passar um iterável com o nome das funções que queremos aplicar, vamos utilizar a função `pd.NamedAgg()` para construir cada coluna:

In [87]:
tb_agg_cyldt = tb_veic\
.groupby(by=["drivetrain", "cylinders"])\
.agg(
    mean_city_mpg=pd.NamedAgg(column="city_mpg", aggfunc="mean"),
    max_year=pd.NamedAgg(column="year", aggfunc="max"),
    min_year=pd.NamedAgg(column = "year", aggfunc = "min"),
    num_auto=pd.NamedAgg(column = "city_mpg", aggfunc = "count")
    )\
.reset_index()

media_val = tb_agg_cyldt['num_auto'] > 100
tb_agg_cyldt[media_val]

,drivetrain,cylinders,mean_city_mpg,max_year,min_year,num_auto
0,2-Wheel Drive,4.0,20.437500,1999,1984,128
1,2-Wheel Drive,6.0,14.291045,2006,1984,134
2,2-Wheel Drive,8.0,12.906832,2006,1984,161
4,4-Wheel Drive,4.0,21.252475,2017,1997,202
6,4-Wheel Drive,6.0,17.439535,2017,1986,430
7,4-Wheel Drive,8.0,14.248139,2017,2007,403
10,4-Wheel or All-Wheel Drive,4.0,18.540574,2009,1984,1602
11,4-Wheel or All-Wheel Drive,5.0,16.041420,2009,1985,169
12,4-Wheel or All-Wheel Drive,6.0,14.896693,2010,1984,2691
13,4-Wheel or All-Wheel Drive,8.0,12.401130,2009,1984,1947
18,All-Wheel Drive,4.0,21.753943,2017,2009,634
20,All-Wheel Drive,6.0,17.987207,2017,2009,938
21,All-Wheel Drive,8.0,14.699405,2017,2010,336
25,Front-Wheel Drive,3.0,34.760479,2017,1985,167
26,Front-Wheel Drive,4.0,22.736087,2017,1985,8787
27,Front-Wheel Drive,5.0,18.557604,2014,1985,434
28,Front-Wheel Drive,6.0,17.230239,2017,1985,3479
29,Front-Wheel Drive,8.0,14.779661,2017,1985,177
36,Rear-Wheel Drive,4.0,19.036235,2017,1985,2125
38,Rear-Wheel Drive,6.0,16.125870,2017,1984,5029
39,Rear-Wheel Drive,8.0,13.483187,2017,1984,4907
41,Rear-Wheel Drive,12.0,11.002262,2017,1985,442

Agora vamos utilizar os conceitos acima para tornar nossa análise da eficiência de automóveis mais robusta: vamos incluir, além da média de `city_mpg` e `highway_mpg`, o # de observações em cada grupo (utilizando a `aggfunc = "count"`) e o desvio padrão das duas variáveis de eficiência (utilizando `aggfunc = "std"`):

In [88]:
tb_agg_veic = (
    tb_veic
    .groupby(by=["drivetrain", "cylinders"])
    .agg(
        contagem=("year", "count"), # contagem = pd.NamedAgg(column = "year", aggfunc = "count")
        avg_city_mpg=("city_mpg", "mean"),
        std_city_mpg=("city_mpg", "std"),
        avg_highway_mpg=("highway_mpg", "mean"),
        std_highway_mpg=("highway_mpg", "std"),
    )
    .reset_index()
)

In [89]:
tb_agg_veic

,drivetrain,cylinders,contagem,avg_city_mpg,std_city_mpg,avg_highway_mpg,std_highway_mpg
0,2-Wheel Drive,4.0,128,20.437500,3.266991,24.710938,4.095614
1,2-Wheel Drive,6.0,134,14.291045,1.520905,18.126866,2.959429
2,2-Wheel Drive,8.0,161,12.906832,2.744998,16.080745,3.804562
3,"2-Wheel Drive, Front",4.0,1,25.000000,NaN,33.000000,NaN
4,4-Wheel Drive,4.0,202,21.252475,2.748246,26.856436,3.284849
5,4-Wheel Drive,5.0,22,15.909091,1.019294,21.000000,1.690309
6,4-Wheel Drive,6.0,430,17.439535,1.904435,23.753488,3.076291
7,4-Wheel Drive,8.0,403,14.248139,2.057135,19.719603,2.485438
8,4-Wheel Drive,12.0,1,11.000000,NaN,13.000000,NaN
9,4-Wheel or All-Wheel Drive,3.0,11,25.545455,1.293340,29.363636,1.026911
10,4-Wheel or All-Wheel Drive,4.0,1602,18.540574,2.213448,23.089263,2.778322
11,4-Wheel or All-Wheel Drive,5.0,169,16.041420,1.082078,22.337278,2.115385
12,4-Wheel or All-Wheel Drive,6.0,2691,14.896693,1.491398,19.773690,2.743507
13,4-Wheel or All-Wheel Drive,8.0,1947,12.401130,1.689657,16.468927,2.472549
14,4-Wheel or All-Wheel Drive,10.0,30,11.666667,2.186689,17.666667,2.154920
15,4-Wheel or All-Wheel Drive,12.0,51,9.431373,1.500065,14.843137,2.301065
16,4-Wheel or All-Wheel Drive,16.0,2,8.000000,0.000000,14.000000,0.000000
17,All-Wheel Drive,3.0,3,28.000000,0.000000,29.000000,0.000000
18,All-Wheel Drive,4.0,634,21.753943,2.785546,29.096215,3.369581
19,All-Wheel Drive,5.0,19,19.473684,0.772328,27.473684,1.540866
20,All-Wheel Drive,6.0,938,17.987207,2.435474,25.321962,2.791351
21,All-Wheel Drive,8.0,336,14.699405,1.682784,21.773810,2.993929
22,All-Wheel Drive,10.0,47,12.808511,0.770045,20.042553,0.931512
23,All-Wheel Drive,12.0,56,11.303571,1.292209,18.535714,2.165551
24,All-Wheel Drive,16.0,6,8.000000,0.000000,14.833333,0.408248
25,Front-Wheel Drive,3.0,167,34.760479,5.281486,41.371257,6.332638
26,Front-Wheel Drive,4.0,8787,22.736087,4.513265,30.124502,4.689151
27,Front-Wheel Drive,5.0,434,18.557604,1.997146,25.976959,3.208595
28,Front-Wheel Drive,6.0,3479,17.230239,1.539641,24.840759,2.201062
29,Front-Wheel Drive,8.0,177,14.779661,1.061749,22.423729,2.175823
30,Part-time 4-Wheel Drive,4.0,15,18.200000,0.560612,21.000000,0.654654
31,Part-time 4-Wheel Drive,6.0,64,16.015625,1.090976,20.703125,1.217331
32,Part-time 4-Wheel Drive,8.0,67,13.104478,1.002033,17.582090,1.538882
33,Part-time 4-Wheel Drive,12.0,12,11.166667,0.389249,16.500000,0.674200
34,Rear-Wheel Drive,2.0,48,17.000000,6.280669,22.937500,3.755315
35,Rear-Wheel Drive,3.0,20,33.300000,0.801315,39.300000,1.454575
36,Rear-Wheel Drive,4.0,2125,19.036235,2.496533,24.673882,3.901748
37,Rear-Wheel Drive,5.0,79,17.392405,3.094320,22.974684,3.452887
38,Rear-Wheel Drive,6.0,5029,16.125870,2.184113,22.254723,3.978280
39,Rear-Wheel Drive,8.0,4907,13.483187,2.099607,18.992460,3.517376
40,Rear-Wheel Drive,10.0,76,10.934211,1.158568,17.605263,2.633522
41,Rear-Wheel Drive,12.0,442,11.002262,1.460747,17.038462,2.218427

### Desafio - Avaliando indicadores agregados

Indicadores agregados possuem limitações - um dos principais limitantes é a quantidade de dados utilizada para calcula-los: *a média de um automóvel não representa um padrão!*

Vamos utilizar o que aprendemos até agora para determinar quais indicadores da tabela acima são *confiáveis* selecionando apenas os grupos que contém pelo menos 100 observações:

In [90]:
tb_agg_veic = (
    tb_veic
    .groupby(by=["drivetrain", "cylinders"])
    .agg(
        contagem=("year", "count"), # contagem = pd.NamedAgg(column = "year", aggfunc = "count")
        avg_city_mpg=("city_mpg", "mean"),
        std_city_mpg=("city_mpg", "std"),
        avg_highway_mpg=("highway_mpg", "mean"),
        std_highway_mpg=("highway_mpg", "std"),
    )
    .reset_index()
)

In [93]:
tb_agg_veic[tb_agg_veic["contagem"] > 100].sort_values("avg_highway_mpg")

,drivetrain,cylinders,contagem,avg_city_mpg,std_city_mpg,avg_highway_mpg,std_highway_mpg
2,2-Wheel Drive,8.0,161,12.906832,2.744998,16.080745,3.804562
13,4-Wheel or All-Wheel Drive,8.0,1947,12.401130,1.689657,16.468927,2.472549
41,Rear-Wheel Drive,12.0,442,11.002262,1.460747,17.038462,2.218427
1,2-Wheel Drive,6.0,134,14.291045,1.520905,18.126866,2.959429
39,Rear-Wheel Drive,8.0,4907,13.483187,2.099607,18.992460,3.517376
7,4-Wheel Drive,8.0,403,14.248139,2.057135,19.719603,2.485438
12,4-Wheel or All-Wheel Drive,6.0,2691,14.896693,1.491398,19.773690,2.743507
21,All-Wheel Drive,8.0,336,14.699405,1.682784,21.773810,2.993929
38,Rear-Wheel Drive,6.0,5029,16.125870,2.184113,22.254723,3.978280
11,4-Wheel or All-Wheel Drive,5.0,169,16.041420,1.082078,22.337278,2.115385
29,Front-Wheel Drive,8.0,177,14.779661,1.061749,22.423729,2.175823
10,4-Wheel or All-Wheel Drive,4.0,1602,18.540574,2.213448,23.089263,2.778322
6,4-Wheel Drive,6.0,430,17.439535,1.904435,23.753488,3.076291
36,Rear-Wheel Drive,4.0,2125,19.036235,2.496533,24.673882,3.901748
0,2-Wheel Drive,4.0,128,20.437500,3.266991,24.710938,4.095614
28,Front-Wheel Drive,6.0,3479,17.230239,1.539641,24.840759,2.201062
20,All-Wheel Drive,6.0,938,17.987207,2.435474,25.321962,2.791351
27,Front-Wheel Drive,5.0,434,18.557604,1.997146,25.976959,3.208595
4,4-Wheel Drive,4.0,202,21.252475,2.748246,26.856436,3.284849
18,All-Wheel Drive,4.0,634,21.753943,2.785546,29.096215,3.369581
26,Front-Wheel Drive,4.0,8787,22.736087,4.513265,30.124502,4.689151
25,Front-Wheel Drive,3.0,167,34.760479,5.281486,41.371257,6.332638

In [94]:
tb_veic.head()

,make,model,year,engine_displacement,cylinders,transmission,drivetrain,vehicle_class,fuel_type,fuel_barrels_year,city_mpg,highway_mpg,combined_mpg,co2_emission_grams_mile,fuel_cost_year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

# Data Manipulation - Joins

* Como unir DataFrames através de colunas
* [Fruits Example](https://docs.google.com/spreadsheets/d/1foV1THfhVc5WduBTMjpxmthAD1BDHS9FUpH-WgGDH5E/edit?usp=sharing)

Um join pode ser classificado ao longo de dois eixos:

1. **Direção**: Esquerda, direita ou interno (left, right e inner);
2. **Cardinalidade**: Um para um, um para muitos, muitos para muitos (1:1, 1:n, n:n).

https://towardsdatascience.com/can-we-stop-with-the-sql-joins-venn-diagrams-insanity-16791d9250c3

## Tipos de Join

Vamos analisar cada tipo de join através de sua cardinalidade

### Um para Um (1:1)

Um join um pra um ocorre quando a **relação entre as chaves** é 1:1, ou seja, para cada chave particular na tabela A teremos apenas uma chave equivalente na tabela B.

Esse é o tipo *desejado* **mais comum de join**, e serve para cruzarmos tabelas onde cada linha representa o **o mesmo tipo de observação** (em termos técnicos, tabelas com a mesma chave única). Por exemplo, se temos uma tabela de informações geográficas por município e outra de informações demográficas podemos utilizar um join 1:1 (usando o município) para termos uma tabela de informações demográficas e geográficas.

In [95]:
nome_frutas = ["Uva", "Abacate", "Melancia", "Atemoia", "Laranja"]
producao_frutas = [10, 1, 1, 3, 4]
tb_prod_frutas = pd.DataFrame(
    {"nome_fruta": nome_frutas, "producao_kg": producao_frutas}
)
tb_prod_frutas

  nome_fruta  producao_kg
0        Uva           10
1    Abacate            1
2   Melancia            1
3    Atemoia            3
4    Laranja            4

In [96]:
fruta = ["Uva", "Abacate", "Melancia", "Carambola"]
cidade = ["Campinas", "Campinas", "Atibaia", "Rio de Janeiro"]
tb_pomar_cidade = pd.DataFrame({"nome_fruta": fruta, "cidade": cidade})
tb_pomar_cidade

  nome_fruta          cidade
0        Uva        Campinas
1    Abacate        Campinas
2   Melancia         Atibaia
3  Carambola  Rio de Janeiro

#### Inner Join (o que é comum às duas tabelas)

In [97]:
pd.merge(tb_prod_frutas, tb_pomar_cidade, on="nome_fruta", how="inner")

  nome_fruta  producao_kg    cidade
0        Uva           10  Campinas
1    Abacate            1  Campinas
2   Melancia            1   Atibaia

#### Left Join (tudo o que está na tabela a esquerda)

In [98]:
pd.merge(tb_prod_frutas, tb_pomar_cidade, on="nome_fruta", how="left")

  nome_fruta  producao_kg    cidade
0        Uva           10  Campinas
1    Abacate            1  Campinas
2   Melancia            1   Atibaia
3    Atemoia            3       NaN
4    Laranja            4       NaN

#### Right Join (tudo o que está na tabela a direita)

In [101]:
pd.merge(tb_prod_frutas, tb_pomar_cidade, on="nome_fruta", how="right")

  nome_fruta  producao_kg          cidade
0        Uva         10.0        Campinas
1    Abacate          1.0        Campinas
2   Melancia          1.0         Atibaia
3  Carambola          NaN  Rio de Janeiro

#### Chaves com nomes distintos

Embora seja considerado boa prática que todas as colunas de chave tenham nomes uniformes, muitas vezes vamos nos deparar com situações onde queremos unir duas tabelas através de um chave que está em colunas com nomes diferentes. 

Para tratar isso utilizaremos os argumentos `left_on =` e `right_on =`:

In [102]:
nome_frutas = ["Uva", "Abacate", "Melancia", "Atemoia", "Laranja"]
producao_frutas = [10, 1, 1, 3, 4]
tb_prod_frutas = pd.DataFrame(
    {"nome_fruta": nome_frutas, "producao_kg": producao_frutas}
)
tb_prod_frutas

  nome_fruta  producao_kg
0        Uva           10
1    Abacate            1
2   Melancia            1
3    Atemoia            3
4    Laranja            4

In [103]:
fruta = ["Uva", "Abacate", "Melancia", "Carambola"]
cidade = ["Campinas", "Campinas", "Atibaia", "Rio de Janeiro"]
tb_pomar_cidade = pd.DataFrame({"nome_pomar_fruta": fruta, "cidade": cidade})
tb_pomar_cidade

  nome_pomar_fruta          cidade
0              Uva        Campinas
1          Abacate        Campinas
2         Melancia         Atibaia
3        Carambola  Rio de Janeiro

In [104]:
pd.merge(
    tb_prod_frutas, tb_pomar_cidade, left_on="nome_fruta", right_on="nome_pomar_fruta"
)

  nome_fruta  producao_kg nome_pomar_fruta    cidade
0        Uva           10              Uva  Campinas
1    Abacate            1          Abacate  Campinas
2   Melancia            1         Melancia   Atibaia

### Um para N (1:N)

A relação 1:N é *quase* tão comum quanto a relação 1:1 e, em geral, surge quando queremos unir uma tabela com uma chave que é **parte** da chave da segunda tabela. Por exemplo, se nossa tabela de informações demográficas do exemplo anterior utilize a chave Município-Mês, o join com a tabela geográfica (chave Município) será 1:N.

Uma situação prática é quando temos informações de clientes que queremos cruzar com informações de pedidos: todo pedido tem apenas um cliente, cada cliente tem múltiplos pedidos.

In [105]:
nome_frutas = ["Uva", "Abacate", "Melancia", "Atemoia", "Laranja"]
preco_frutas = [10, 5, 3, 30, 2]
tb_prod_frutas = pd.DataFrame(
    {"nome_fruta": nome_frutas, "preco_kg": preco_frutas}
)
tb_prod_frutas

  nome_fruta  preco_kg
0        Uva        10
1    Abacate         5
2   Melancia         3
3    Atemoia        30
4    Laranja         2

In [106]:
fruta = ["Uva", "Abacate", "Melancia", "Uva", "Carambola"]
cidade = ["Campinas", "Campinas", "Atibaia", "Atibaia", "Rio de Janeiro"]
qtd_prod = [1000, 5000, 2500, 300, 150]
tb_pomar_cidade = pd.DataFrame({"nome_fruta": fruta, "cidade": cidade, "qtd_produzida" : qtd_prod})
tb_pomar_cidade

  nome_fruta          cidade  qtd_produzida
0        Uva        Campinas           1000
1    Abacate        Campinas           5000
2   Melancia         Atibaia           2500
3        Uva         Atibaia            300
4  Carambola  Rio de Janeiro            150

In [107]:
pd.merge(tb_prod_frutas, tb_pomar_cidade, on="nome_fruta")

  nome_fruta  preco_kg    cidade  qtd_produzida
0        Uva        10  Campinas           1000
1        Uva        10   Atibaia            300
2    Abacate         5  Campinas           5000
3   Melancia         3   Atibaia           2500

### M para N (M:N)

Os joins N para N são mais raros que os outros dois tipos (exceto quando erramos e nosso join 1:1 vira um N:N...). Ele ocorre quando queremos unir duas tabelas por uma chave que **não é única** nas duas tabelas.

Um exemplo comum é quando queremos cruzar informações de produtos e clientes: como cada cliente pode comprar múltiplos produtos diferentes e cada produto pode ser comprado por múltiplos clientes a relação é uma relação M:N.

Tanto no Pandas quanto no SQL raramente criaremos relações M:N - elas são mediadas por uma terceira chave (o código do pedido no exemplo acima). No entanto, **esse tipo de join ocorre MUITO quando fazemos algo errado**, não conhecer as chaves de nossa tabela por exemplo!

In [108]:
nome_frutas = ["Uva", "Uva", "Abacate", "Melancia", "Atemoia", "Laranja"]
producao_frutas = [10, 5, 1, 1, 3, 4]
tb_prod_frutas = pd.DataFrame(
    {"nome_fruta": nome_frutas, "producao_kg": producao_frutas}
)
tb_prod_frutas

  nome_fruta  producao_kg
0        Uva           10
1        Uva            5
2    Abacate            1
3   Melancia            1
4    Atemoia            3
5    Laranja            4

In [109]:
fruta = ["Uva", "Abacate", "Melancia", "Uva", "Carambola"]
cidade = ["Campinas", "Campinas", "Atibaia", "Atibaia", "Rio de Janeiro"]
tb_pomar_cidade = pd.DataFrame({"nome_fruta": fruta, "cidade": cidade})
tb_pomar_cidade

  nome_fruta          cidade
0        Uva        Campinas
1    Abacate        Campinas
2   Melancia         Atibaia
3        Uva         Atibaia
4  Carambola  Rio de Janeiro

In [110]:
pd.merge(tb_prod_frutas, tb_pomar_cidade, on="nome_fruta")

  nome_fruta  producao_kg    cidade
0        Uva           10  Campinas
1        Uva           10   Atibaia
2        Uva            5  Campinas
3        Uva            5   Atibaia
4    Abacate            1  Campinas
5   Melancia            1   Atibaia

In [112]:
tb_join = tb_prod_frutas.merge(tb_pomar_cidade, on = "nome_fruta")

## Chaves Compostas

As chaves de nossos joins não precisam estar localizadas apenas em uma coluna: podemos ter partes diferentes de uma chave em colunas diferentes (por exemplo, em uma tabela cuja chave seja Município-Ano podemos ter uma coluna Município e outra Ano).

Para realizar joins com chaves compostas precisaremos alterar um pouco como especificamos o argumento `on`.

In [113]:
nome_frutas = ["Uva", "Abacate", "Melancia", "Atemoia", "Laranja"]
cidade = ["Campinas", "Atibaia", "Atibaia", "Rio de Janeiro", "Rio de Janeiro"]
preco_frutas = [10, 5, 3, 30, 2]
tb_prod_frutas = pd.DataFrame(
    {"nome_fruta": nome_frutas, "cidade" : cidade, "preco_kg": preco_frutas}
)
tb_prod_frutas

  nome_fruta          cidade  preco_kg
0        Uva        Campinas        10
1    Abacate         Atibaia         5
2   Melancia         Atibaia         3
3    Atemoia  Rio de Janeiro        30
4    Laranja  Rio de Janeiro         2

In [114]:
fruta = ["Uva", "Abacate", "Melancia", "Uva", "Carambola"]
cidade = ["Campinas", "Campinas", "Atibaia", "Atibaia", "Rio de Janeiro"]
qtd_prod = [1000, 5000, 2500, 300, 150]
tb_pomar_cidade = pd.DataFrame({"nome_fruta": fruta, "cidade": cidade, "qtd_produzida" : qtd_prod})
tb_pomar_cidade

  nome_fruta          cidade  qtd_produzida
0        Uva        Campinas           1000
1    Abacate        Campinas           5000
2   Melancia         Atibaia           2500
3        Uva         Atibaia            300
4  Carambola  Rio de Janeiro            150

In [115]:
tb_prod_frutas.merge(tb_pomar_cidade, on = ['nome_fruta', 'cidade'])

  nome_fruta    cidade  preco_kg  qtd_produzida
0        Uva  Campinas        10           1000
1   Melancia   Atibaia         3           2500

### Desafio - *Feature Engineering*

Um dos principais desafios para um analista de dados é entender como podemos combinar diferentes variáveis, criando novas informações a partir de uma tabela. Por exemplo, vamos criar uma variável para medir o quanto cada automóvel se compara à outros automóveis com o mesmo # de cilindros

In [116]:
tb_veic.head()

,make,model,year,engine_displacement,cylinders,transmission,drivetrain,vehicle_class,fuel_type,fuel_barrels_year,city_mpg,highway_mpg,combined_mpg,co2_emission_grams_mile,fuel_cost_year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [122]:
tb_agg_cyl_combmpg = (
    tb_veic
    .groupby("cylinders")
    .agg(
        mu_comb_mpg = ("combined_mpg", "mean")
    )
    .reset_index()
)
tb_agg_cyl_combmpg

   cylinders  mu_comb_mpg
0        2.0    19.104167
1        3.0    36.572139
2        4.0    24.075441
3        5.0    20.334716
4        6.0    18.606189
5        8.0    15.206302
6       10.0    13.941176
7       12.0    13.014235
8       16.0    10.000000

In [124]:
tb_veic_2 = tb_veic.merge(tb_agg_cyl_combmpg, on = "cylinders")

In [125]:
tb_veic_2["combined_mpg"] < tb_veic_2["mu_comb_mpg"]

0         True
1         True
2         True
3         True
4         True
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Length: 35952, dtype: bool

In [127]:
tb_veic_2["eff_rel_cyl"] = tb_veic_2["combined_mpg"]/tb_veic_2["mu_comb_mpg"]

In [128]:
tb_veic_2.groupby("make")["eff_rel_cyl"].mean()

make
AM General                     0.692019
ASC Incorporated               0.859929
Acura                          1.043945
Alfa Romeo                     0.952744
American Motors Corporation    0.894822
                                 ...
Volkswagen                     1.073268
Volvo                          0.987570
Wallace Environmental          0.833037
Yugo                           1.038403
smart                          0.978887
Name: eff_rel_cyl, Length: 127, dtype: float64

# Voltamos 21h41!

# Bonus - Análise de Eficiência de Automóveis

Vamos utilizar os conceitos vistos hoje para responder a pergunta *Será que a eficiência dos motores aumentou ao longo dos anos? Como podemos diferenciar isso da eficiência dos automóveis?*

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
tb_agg_year = tb_veic.groupby(by="year").agg(
    mean_city_mpg=("city_mpg", "mean"),
    mean_highway_mpg=("highway_mpg", "mean"),
)
plt.plot(tb_agg_year["mean_city_mpg"])

**Quais conclusões podemos tirar do gráfico acima? Como podemos melhorar nossa análise?**

# Bonus - Funções Customizadas de Agregação

In [ ]:
def dist_iq(panda_series):
    if len(panda_series) > 5:
        return (
            panda_series.quantile(0.75) - panda_series.quantile(0.25)
        ) / panda_series.quantile(0.5)
    else:
        return np.nan

In [ ]:
tb_veic.groupby(by=["drivetrain", "cylinders"]).agg(
    avg_city_mpg=pd.NamedAgg(column="city_mpg", aggfunc="mean"),
    std_city_mpg=pd.NamedAgg(column="city_mpg", aggfunc="std"),
    iqn_city_mpg=pd.NamedAgg(column="city_mpg", aggfunc=dist_iq),
)