# Operações em DataFrames

Hoje veremos algumos operações fundamentais em DataFrames:

1. **Renomeando colunas/linhas**;
1. **Reordenando linhas**;
1. **Removendo colunas/linhas**;
1. **Filtrando dados**;
1. **Criação de colunas condicionais**.

Vamos começar importando as bibliotecas Numpy e Pandas (seguindo a conveção de importação `np` e `pd`) e utilizar a função `pd.read_csv()`para carregar um arquivo texto com dados sobre carros.

Não se preocupe com a utilização da função `pd.read_csv()` no momento - na próxima aula aprenderemos a carregar diferentes arquivos de dados, incluindo arquivos `.csv`!

In [1]:
import pandas as pd
import numpy as np
tb_veic = pd.read_csv('data/dados_veiculos.csv')

Podemos usar o método `.info()` para ver quais informações a tabela contém:

In [2]:
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

Como podemos ver abaixo, a tabela contém 15 colunas, sendo 9 numéricas e 6 de objetos. Além disso todas as linhas parecem ter todas as variáveis preenchidas. Podemos utilizar o método `.head()` para ver as primeiras linhas dessa tabela:

In [3]:
tb_veic.head(5)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

Qual método podemos utilizar para ter uma descrição rápida sobre as colunas numéricas dessa tabela?

In [4]:
tb_veic.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

## Manipulando Colunas

DataFrames são tabelas - portanto podemos realizar operações sobre as **colunas** ou sobre as **linhas**. Vamos começar vendo algumas operações básicas que podemos realizar sobre as colunas de um DataFrame.

### O atributo `.columns`

Como vimos na aula passada, todo DataFrame contém atributos que nos permite acessar seus índices. O atributo para acessarmos o índice de colunas é o `.columns`. Vamos utilizar esse atributo para resolver um problema básico: o método `.describe()` só retorna resultados para colunas não numéricas quando o DataFrame não tem nenhuma colunas numérica.

No entanto, muitas vezes queremos ver o resumo fornecido pelo método para as colunas de `object` (que, por via de regra, são `strings`). Como podemos fazer isso?

In [5]:
# Vamos resolver juntos!

### Renomeando colunas
Temos duas formas possíveis de renomear as colunas:

- Como já vimos `.columns` é um **attribute** dos DataFrame que contém um iterável com os nomes das colunas:
    - Podemos substituir esse atributo por outro iterável de mesmo comprimento;
    - Como substituímos o atributo inteiro, precisamos especificar o nome de todas as colunas (mesmo que elas não mudem de nome).
    
- `.rename()` é um **método** de um DataFrame, através do qual podemos renomear colunas de forma seletiva:
    - Este método utiliza um dicionário com o formato `{'nome_antigo':'nome_novo'}` para renomear as colunas; 
    - O método `.rename()` serve tanto para renomear colunas quanto linhas. Portanto precisamos utilizar o argumento `axis = 1` para renomear as colunas;

#### Através do atributo `.columns`
Primeiro vamos aprender a renomear colunas através do atributo `.columns`. Além disso vamos ver situações práticas onde devemos utilizar essa forma.

In [6]:
print(tb_veic.columns)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

Utilizando um list comprehesion podemos criar uma nova lista de nomes de colunas:

In [7]:
old_names = tb_veic.columns
print(old_names)
new_names = [f'C_{i}' for i in range(len(old_names))]
print(new_names)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')
['C_0', 'C_1', 'C_2', 'C_3', 'C_4', 'C_5', 'C_6', 'C_7', 'C_8', 'C_9', 'C_10', 'C_11', 'C_12', 'C_13', 'C_14']

Agora, podemos substituir o atributo `.columns` e utilizar o método `.info()` para verificar que nossas colunas foram renomeadas:

In [8]:
tb_veic.columns = new_names
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C_0     35952 non-null  object
 1   C_1     35952 non-null  object
 2   C_2     35952 non-null  int64
 3   C_3     35952 non-null  float64
 4   C_4     35952 non-null  float64
 5   C_5     35952 non-null  object
 6   C_6     35952 non-null  object
 7   C_7     35952 non-null  object
 8   C_8     35952 non-null  object
 9   C_9     35952 non-null  float64
 10  C_10    35952 non-null  int64
 11  C_11    35952 non-null  int64
 12  C_12    35952 non-null  int64
 13  C_13    35952 non-null  float64
 14  C_14    35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

Podemos utilizar os nomes antigos guardados na variável `old_names` para voltar a tabela ao normal:

In [9]:
tb_veic.columns = old_names
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

O exemplo acima mostra como podemos utilizar o atributo `.columns` para renomear colunas. No entanto, ele não é muito prático. Vamos ver um caso real onde utilizamos essa técnica para limpar o nome das colunas de uma tabela:

In [10]:
import re

pattern = r'[^a-zA-Z0-9]'
print(re.findall(pattern, tb_veic.columns[0]))

[]

O padrão acima busca todos os carácteres que **NÃO** são alfa-numéricos. Podemos utilizar a função `re.sub()` para *limpar* os nomes das colunas, substituindo espaços e barras por `_`:

In [11]:
print([re.sub(pattern, '_', column.lower()) for column in tb_veic.columns])

['make', 'model', 'year', 'engine_displacement', 'cylinders', 'transmission', 'drivetrain', 'vehicle_class', 'fuel_type', 'fuel_barrels_year', 'city_mpg', 'highway_mpg', 'combined_mpg', 'co2_emission_grams_mile', 'fuel_cost_year']

In [12]:
tb_veic.columns = [re.sub(pattern, '_', column.lower()) for column in tb_veic.columns]
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make                     35952 non-null  object
 1   model                    35952 non-null  object
 2   year                     35952 non-null  int64
 3   engine_displacement      35952 non-null  float64
 4   cylinders                35952 non-null  float64
 5   transmission             35952 non-null  object
 6   drivetrain               35952 non-null  object
 7   vehicle_class            35952 non-null  object
 8   fuel_type                35952 non-null  object
 9   fuel_barrels_year        35952 non-null  float64
 10  city_mpg                 35952 non-null  int64
 11  highway_mpg              35952 non-null  int64
 12  combined_mpg             35952 non-null  int64
 13  co2_emission_grams_mile  35952 non-null  float64
 14  fuel_cost_year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [13]:
tb_veic.columns = old_names
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

### Utilizando o método `.rename()`

Um problema do método acima é que se quisermos renomear apenas uma coluna teremos que criar uma lista com todos os nomes originais exceto o da coluna a ser renomeada. Neste caso é melhor utilizarmos o método `.rename()`: ele nos permite renomear uma (ou mais) colunas a partir de um dicionário `{'nome_antigo' : 'nome_novo'}`:

In [14]:
dict_nomes = dict()
dict_nomes['Year'] = 'model_year'
print(dict_nomes)

{'Year': 'model_year'}

In [15]:
tb_veic = tb_veic.rename(dict_nomes, axis = 1)
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   model_year               35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [16]:
tb_veic.columns = old_names
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

O método `.rename()` não altera o objeto original!

In [17]:
tb_veic.rename({'Year' : 'model_year'}, axis = 1)
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

Se quisermos que o método substitua diretamente o nome das colunas (sem precisarmos sobrescrever a variável que contém o DataFrame) precisamos utilizar o argumento `inplace = True`:

In [18]:
tb_veic.rename({'Year' : 'model_year'}, axis = 1, inplace = True)
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   model_year               35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

Podemos realizar a mesma tarefa do exemplo prático acima através do método `.rename()`. Para tanto, vamos utilizar um `dict comprehension`!

In [19]:
pattern = r'[^a-zA-Z0-9]'
dict_rename = {column : re.sub(pattern, '_', column).lower() for column in tb_veic.columns}
print(dict_rename)

{'Make': 'make', 'Model': 'model', 'model_year': 'model_year', 'Engine Displacement': 'engine_displacement', 'Cylinders': 'cylinders', 'Transmission': 'transmission', 'Drivetrain': 'drivetrain', 'Vehicle Class': 'vehicle_class', 'Fuel Type': 'fuel_type', 'Fuel Barrels/Year': 'fuel_barrels_year', 'City MPG': 'city_mpg', 'Highway MPG': 'highway_mpg', 'Combined MPG': 'combined_mpg', 'CO2 Emission Grams/Mile': 'co2_emission_grams_mile', 'Fuel Cost/Year': 'fuel_cost_year'}

In [20]:
tb_veic = tb_veic.rename(dict_rename, axis = 1) #tb_veic.rename(dict_rename, axis = 1, inplace = True)
print(tb_veic.columns)

Index(['make', 'model', 'model_year', 'engine_displacement', 'cylinders',
       'transmission', 'drivetrain', 'vehicle_class', 'fuel_type',
       'fuel_barrels_year', 'city_mpg', 'highway_mpg', 'combined_mpg',
       'co2_emission_grams_mile', 'fuel_cost_year'],
      dtype='object')

Utilizando o método `.replace()` temos duas formas de renomear as colunas de nossos dados
1. sobrescrevendo a variável que contém nosso `DataFrame`: 

    `data = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})`

2. Usando o argumento `inplace =  True`:

    `data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)`
    
O parâmetro 'inplace' será deprecado e seu uso é considerado má prática.

### Reordenando colunas em um DataFrame

Reordenar colunas em um DataFrame é simples: basta lembrarmos que podemos passar uma lista de nomes de colunas como índice para montar um novo DataFrame com as colunas na ordem dos elementos da lista:

In [21]:
print(tb_veic.columns)

Index(['make', 'model', 'model_year', 'engine_displacement', 'cylinders',
       'transmission', 'drivetrain', 'vehicle_class', 'fuel_type',
       'fuel_barrels_year', 'city_mpg', 'highway_mpg', 'combined_mpg',
       'co2_emission_grams_mile', 'fuel_cost_year'],
      dtype='object')

In [22]:
tb_veic[['model', 'make']]

                     model              make
0        DJ Po Vehicle 2WD        AM General
1         FJ8c Post Office        AM General
2      Post Office DJ5 2WD        AM General
3      Post Office DJ8 2WD        AM General
4                      GNX  ASC Incorporated
...                    ...               ...
35947         fortwo coupe             smart
35948         fortwo coupe             smart
35949         fortwo coupe             smart
35950         fortwo coupe             smart
35951         fortwo coupe             smart

[35952 rows x 2 columns]

Vamos utilizar o método `.sort()` das listas para criar uma lista de colunas em ordem alfabética:

In [23]:
lista_colunas = list(tb_veic.columns)
lista_colunas.sort()
print(lista_colunas)

['city_mpg', 'co2_emission_grams_mile', 'combined_mpg', 'cylinders', 'drivetrain', 'engine_displacement', 'fuel_barrels_year', 'fuel_cost_year', 'fuel_type', 'highway_mpg', 'make', 'model', 'model_year', 'transmission', 'vehicle_class']

In [24]:
tb_veic = tb_veic[lista_colunas]
tb_veic.head()

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,drivetrain,engine_displacement,fuel_barrels_year,fuel_cost_year,fuel_type,highway_mpg,make,model,model_year,transmission,vehicle_class
0,18,522.764706,17,4.0,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,1984,Automatic 3-spd,Special Purpose Vehicle 2WD
1,13,683.615385,13,6.0,2-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,FJ8c Post Office,1984,Automatic 3-spd,Special Purpose Vehicle 2WD
2,16,555.437500,16,4.0,Rear-Wheel Drive,2.5,20.600625,2100,Regular,17,AM General,Post Office DJ5 2WD,1985,Automatic 3-spd,Special Purpose Vehicle 2WD
3,13,683.615385,13,6.0,Rear-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,Post Office DJ8 2WD,1985,Automatic 3-spd,Special Purpose Vehicle 2WD
4,14,555.437500,16,6.0,Rear-Wheel Drive,3.8,20.600625,2550,Premium,21,ASC Incorporated,GNX,1987,Automatic 4-spd,Midsize Cars

### Removendo/Mantendo colunas

Se quisermos remover uma (ou mais) coluna de um DataFrame podemos faze-lo de duas formas:

- Utilizando a indexação para selecionar todas as colunas que queremos em nosso novo DataFrame;
- Utilizando o método `.drop()` para remover algumas colunas específicas.

Quando queremos remover muitas colunas, pode valer a penas especificar quais colunas queremos manter (primeira forma). Caso contrário, podemos utilizar o método `.drop()`:

In [25]:
colunas_manter = ['city_mpg', 'combined_mpg']
tb_veic_sub = tb_veic[colunas_manter]
tb_veic_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city_mpg      35952 non-null  int64
 1   combined_mpg  35952 non-null  int64
dtypes: int64(2)
memory usage: 561.9 KB

In [26]:
colunas_num = [coluna for coluna in tb_veic.columns if tb_veic[coluna].dtype == int or tb_veic[coluna].dtype == float]
print(colunas_num)

['city_mpg', 'co2_emission_grams_mile', 'combined_mpg', 'cylinders', 'engine_displacement', 'fuel_barrels_year', 'fuel_cost_year', 'highway_mpg', 'model_year']

In [27]:
tb_veic_num = tb_veic[colunas_num]
tb_veic_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city_mpg                 35952 non-null  int64
 1   co2_emission_grams_mile  35952 non-null  float64
 2   combined_mpg             35952 non-null  int64
 3   cylinders                35952 non-null  float64
 4   engine_displacement      35952 non-null  float64
 5   fuel_barrels_year        35952 non-null  float64
 6   fuel_cost_year           35952 non-null  int64
 7   highway_mpg              35952 non-null  int64
 8   model_year               35952 non-null  int64
dtypes: float64(4), int64(5)
memory usage: 2.5 MB

Vamos voltar ao exercicio do começo da aula:

In [28]:
colunas_str = [coluna for coluna in tb_veic.columns if tb_veic[coluna].dtype == object]
tb_veic[colunas_str].describe()

,drivetrain,fuel_type,make,model,transmission,vehicle_class
count,35952,35952,35952,35952,35952,35952
unique,8,13,127,3608,45,34
top,Front-Wheel Drive,Regular,Chevrolet,F150 Pickup 2WD,Automatic 4-spd,Compact Cars
freq,13044,23587,3643,197,10585,5185

As técnicas acima nos permite selecionar colunas de forma simples a partir de condições específicas. No entanto, muitas vezes queremos remover apenas uma ou duas colunas de uma tabela (por exemplo, colunas que não tenham informações corretas). Para isso, podemos utilizar o método `.drop()`:

In [29]:
tb_veic_sm = tb_veic.drop('make', axis = 1)
tb_veic_sm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city_mpg                 35952 non-null  int64
 1   co2_emission_grams_mile  35952 non-null  float64
 2   combined_mpg             35952 non-null  int64
 3   cylinders                35952 non-null  float64
 4   drivetrain               35952 non-null  object
 5   engine_displacement      35952 non-null  float64
 6   fuel_barrels_year        35952 non-null  float64
 7   fuel_cost_year           35952 non-null  int64
 8   fuel_type                35952 non-null  object
 9   highway_mpg              35952 non-null  int64
 10  model                    35952 non-null  object
 11  model_year               35952 non-null  int64
 12  transmission             35952 non-null  object
 13  vehicle_class            35952 non-null  object
dtypes: float64(4), int64(5), object(5)
memory usage: 3.8+ MB

Esse método nos permite remover mais de uma coluna (utilizando um iterável) e aceita o argumento `inplace`:

In [30]:
tb_veic_sm.drop(['transmission', 'model_year'], axis = 1, inplace = True)
tb_veic_sm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city_mpg                 35952 non-null  int64
 1   co2_emission_grams_mile  35952 non-null  float64
 2   combined_mpg             35952 non-null  int64
 3   cylinders                35952 non-null  float64
 4   drivetrain               35952 non-null  object
 5   engine_displacement      35952 non-null  float64
 6   fuel_barrels_year        35952 non-null  float64
 7   fuel_cost_year           35952 non-null  int64
 8   fuel_type                35952 non-null  object
 9   highway_mpg              35952 non-null  int64
 10  model                    35952 non-null  object
 11  vehicle_class            35952 non-null  object
dtypes: float64(4), int64(4), object(4)
memory usage: 3.3+ MB

## Manipulando Linhas

In [31]:
tb_veic = tb_veic.sort_values('model_year')
tb_veic

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,drivetrain,engine_displacement,fuel_barrels_year,fuel_cost_year,fuel_type,highway_mpg,make,model,model_year,transmission,vehicle_class
0,18,522.764706,17,4.0,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,1984,Automatic 3-spd,Special Purpose Vehicle 2WD
16337,15,522.764706,17,6.0,4-Wheel or All-Wheel Drive,2.8,19.388824,1950,Regular,21,GMC,T15 (S15) Pickup 4WD,1984,Manual 4-spd,Standard Pickup Trucks 4WD
16336,15,493.722222,18,6.0,4-Wheel or All-Wheel Drive,2.8,18.311667,1850,Regular,22,GMC,T15 (S15) Pickup 4WD,1984,Manual 5-spd,Standard Pickup Trucks 4WD
5636,15,522.764706,17,6.0,2-Wheel Drive,3.8,19.388824,1950,Regular,19,Chevrolet,El Camino Pickup 2WD,1984,Automatic 3-spd,Standard Pickup Trucks 2WD
5637,15,493.722222,18,6.0,2-Wheel Drive,3.8,18.311667,1850,Regular,22,Chevrolet,El Camino Pickup 2WD,1984,Automatic 4-spd,Standard Pickup Trucks 2WD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,21,357.000000,25,6.0,All-Wheel Drive,3.0,13.184400,1600,Premium,31,BMW,340i xDrive,2017,Automatic (S8),Compact Cars
3137,15,475.000000,19,8.0,All-Wheel Drive,4.0,17.347895,2150,Premium,25,Bentley,Continental GT,2017,Automatic (S8),Compact Cars
1965,19,395.000000,23,6.0,Rear-Wheel Drive,3.0,14.330870,1750,Premium,29,BMW,340i,2017,Manual 6-spd,Compact Cars
21091,20,391.000000,23,4.0,4-Wheel Drive,2.0,14.330870,1750,Premium,28,Land Rover,Range Rover Evoque Convertible,2017,Automatic (S9),Small Sport Utility Vehicle 4WD
20450,23,353.000000,25,4.0,Front-Wheel Drive,1.6,13.184400,1350,Regular,29,Kia,Forte 5,2017,Manual 6-spd,Large Cars

In [32]:
tb_veic = tb_veic.sort_values('model_year', ascending = False)
tb_veic

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,drivetrain,engine_displacement,fuel_barrels_year,fuel_cost_year,fuel_type,highway_mpg,make,model,model_year,transmission,vehicle_class
20450,23,353.000000,25,4.0,Front-Wheel Drive,1.6,13.184400,1350,Regular,29,Kia,Forte 5,2017,Manual 6-spd,Large Cars
14409,18,426.000000,21,6.0,Front-Wheel Drive,3.6,15.695714,1600,Regular,25,GMC,Acadia FWD,2017,Automatic 6-spd,Standard Sport Utility Vehicle 2WD
18122,17,475.000000,19,6.0,All-Wheel Drive,3.3,17.347895,1750,Regular,22,Hyundai,Santa Fe Ultimate AWD,2017,Automatic (S6),Small Sport Utility Vehicle 4WD
24108,23,344.000000,26,4.0,4-Wheel Drive,2.0,12.677308,1550,Premium,31,Mercedes-Benz,GLA250 4matic,2017,Auto(AM7),Small Sport Utility Vehicle 4WD
851,24,330.000000,27,4.0,All-Wheel Drive,2.0,12.207778,1500,Premium,31,Audi,A4 quattro,2017,Auto(AM-S7),Compact Cars
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13777,16,493.722222,18,6.0,2-Wheel Drive,2.8,18.311667,1850,Regular,22,Ford,Ranger Pickup 2WD,1984,Manual 5-spd,Small Pickup Trucks 2WD
31003,22,370.291667,24,4.0,4-Wheel or All-Wheel Drive,1.8,13.733750,1400,Regular,27,Subaru,Brat 4WD,1984,Manual 4-spd,Special Purpose Vehicle 4WD
31002,20,423.190476,21,4.0,4-Wheel or All-Wheel Drive,1.8,15.695714,1600,Regular,23,Subaru,Brat 4WD,1984,Automatic 3-spd,Special Purpose Vehicle 4WD
26752,24,329.148148,27,4.0,2-Wheel Drive,2.0,12.207778,1250,Regular,31,Nissan,Pickup 2WD,1984,Manual 5-spd,Small Pickup Trucks 2WD
0,18,522.764706,17,4.0,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,1984,Automatic 3-spd,Special Purpose Vehicle 2WD

In [33]:
tb_veic = tb_veic.sort_values(['model_year', 'engine_displacement'], ascending = [False, True])
tb_veic

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,drivetrain,engine_displacement,fuel_barrels_year,fuel_cost_year,fuel_type,highway_mpg,make,model,model_year,transmission,vehicle_class
35939,31,258.000000,34,3.0,Rear-Wheel Drive,0.9,9.694412,1200,Premium,38,smart,fortwo cabriolet,2017,Manual 5-spd,Two Seaters
35938,33,251.000000,35,3.0,Rear-Wheel Drive,0.9,9.417429,1150,Premium,38,smart,fortwo cabriolet,2017,Auto(AM6),Two Seaters
25667,35,237.000000,37,3.0,Front-Wheel Drive,1.2,8.908378,900,Regular,42,Mitsubishi,Mirage G4,2017,Automatic (variable gear ratios),Compact Cars
25666,33,249.000000,35,3.0,Front-Wheel Drive,1.2,9.417429,950,Regular,40,Mitsubishi,Mirage G4,2017,Manual 5-spd,Compact Cars
25665,37,226.000000,39,3.0,Front-Wheel Drive,1.2,8.451538,850,Regular,43,Mitsubishi,Mirage,2017,Automatic (variable gear ratios),Compact Cars
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14490,18,509.000000,20,8.0,2-Wheel Drive,6.2,19.109250,1800,Diesel,22,GMC,C25 Pickup 2WD,1984,Manual 4-spd,Standard Pickup Trucks 2WD
14489,17,535.789474,19,8.0,2-Wheel Drive,6.2,20.115000,1900,Diesel,22,GMC,C25 Pickup 2WD,1984,Automatic 4-spd,Standard Pickup Trucks 2WD
14476,16,565.555556,18,8.0,2-Wheel Drive,6.2,21.232500,2000,Diesel,22,GMC,C15 Suburban 2WD,1984,Automatic 4-spd,Special Purpose Vehicle 2WD
14477,15,598.823529,17,8.0,2-Wheel Drive,6.2,22.481471,2150,Diesel,19,GMC,C15 Suburban 2WD,1984,Automatic 4-spd,Special Purpose Vehicle 2WD
6174,16,565.555556,18,8.0,4-Wheel or All-Wheel Drive,6.2,21.232500,2000,Diesel,20,Chevrolet,K10 Pickup 4WD,1984,Automatic 4-spd,Standard Pickup Trucks 4WD

In [34]:
tb_veic = tb_veic.sort_values(['model_year', 'engine_displacement', 'make'], ascending = False)
tb_veic

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,drivetrain,engine_displacement,fuel_barrels_year,fuel_cost_year,fuel_type,highway_mpg,make,model,model_year,transmission,vehicle_class
10889,12,623.000000,14,10.0,Rear-Wheel Drive,8.4,23.543571,2900,Premium,19,Dodge,Viper,2017,Manual 6-spd,Two Seaters
3191,11,652.000000,14,8.0,Rear-Wheel Drive,6.8,23.543571,2900,Premium,18,Bentley,Mulsanne,2017,Automatic (S8),Midsize Cars
30043,11,638.000000,14,12.0,Rear-Wheel Drive,6.7,23.543571,2900,Premium,19,Rolls-Royce,Phantom Coupe,2017,Automatic (S8),Compact Cars
30064,11,637.000000,14,12.0,Rear-Wheel Drive,6.7,23.543571,2900,Premium,19,Rolls-Royce,Phantom EWB,2017,Automatic (S8),Large Cars
30034,11,638.000000,14,12.0,Rear-Wheel Drive,6.7,23.543571,2900,Premium,19,Rolls-Royce,Phantom,2017,Automatic (S8),Large Cars
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16888,31,328.387097,31,4.0,2-Wheel Drive,1.6,12.328548,1150,Diesel,32,Grumman Olson,Kubvan,1984,Manual 5-spd,Special Purpose Vehicle 2WD
31980,22,403.954545,22,4.0,4-Wheel or All-Wheel Drive,1.0,14.982273,1500,Regular,22,Suzuki,SJ 410 4WD,1984,Manual 4-spd,Special Purpose Vehicle 4WD
31982,22,403.954545,22,4.0,4-Wheel or All-Wheel Drive,1.0,14.982273,1500,Regular,22,Suzuki,SJ 410V 4WD,1984,Manual 4-spd,Special Purpose Vehicle 4WD
31984,22,403.954545,22,4.0,4-Wheel or All-Wheel Drive,1.0,14.982273,1500,Regular,22,Suzuki,SJ410K P/U 4WD,1984,Manual 4-spd,Small Pickup Trucks 4WD
18408,18,467.736842,19,4.0,4-Wheel or All-Wheel Drive,1.0,17.347895,1750,Regular,20,Import Foreign Auto Sales Inc,1fas 410,1984,Manual 4-spd,Small Pickup Trucks 4WD

### Aplicando Filtros

Como vimos nas últimas aulas, o conceito de filtro é fundamental na programação para análise de dados. Vamos aplicar o que aprendemos sobre um conjunto de dados real.

Na biblioteca Pandas temos duas maneira de realizar filtros:

- Conceito de máscara;
- O método `.query()`.

Começaremos pelas máscaras.

In [35]:
cyl_6 = tb_veic['cylinders'] == 6
print(cyl_6)
sum(cyl_6)

10889    False
3191     False
30043    False
30064    False
30034    False
         ...
16888    False
31980    False
31982    False
31984    False
18408    False
Name: cylinders, Length: 35952, dtype: bool

12765

In [36]:
tb_veic_cyl6 = tb_veic[tb_veic['cylinders'] == 6]
tb_veic_cyl6

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,drivetrain,engine_displacement,fuel_barrels_year,fuel_cost_year,fuel_type,highway_mpg,make,model,model_year,transmission,vehicle_class
16088,18,448.000000,20,6.0,Rear-Wheel Drive,4.3,16.480500,1650,Gasoline or E85,24,GMC,Sierra C15 2WD,2017,Automatic 6-spd,Standard Pickup Trucks 2WD
16168,17,474.000000,19,6.0,4-Wheel Drive,4.3,17.347895,1750,Gasoline or E85,22,GMC,Sierra K15 4WD,2017,Automatic 6-spd,Standard Pickup Trucks 4WD
7207,17,473.000000,19,6.0,4-Wheel Drive,4.3,17.347895,1750,Gasoline or E85,22,Chevrolet,Silverado K15 4WD,2017,Automatic 6-spd,Standard Pickup Trucks 4WD
7131,18,448.000000,20,6.0,Rear-Wheel Drive,4.3,16.480500,1650,Gasoline or E85,24,Chevrolet,Silverado C15 2WD,2017,Automatic 6-spd,Standard Pickup Trucks 2WD
29312,19,428.000000,21,6.0,All-Wheel Drive,3.8,15.695714,1950,Premium,24,Porsche,911 Turbo S,2017,Auto(AM-S7),Minicompact Cars
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6772,13,683.615385,13,6.0,2-Wheel Drive,2.8,25.354615,2550,Regular,13,Chevrolet,S10 Cab Chassis 2WD,1984,Automatic 4-spd,Special Purpose Vehicles
7455,15,493.722222,18,6.0,4-Wheel or All-Wheel Drive,2.8,18.311667,1850,Regular,22,Chevrolet,T10 (S10) Blazer 4WD,1984,Automatic 4-spd,Special Purpose Vehicle 4WD
7456,15,522.764706,17,6.0,4-Wheel or All-Wheel Drive,2.8,19.388824,1950,Regular,20,Chevrolet,T10 (S10) Blazer 4WD,1984,Manual 4-spd,Special Purpose Vehicle 4WD
7457,15,522.764706,17,6.0,4-Wheel or All-Wheel Drive,2.8,19.388824,1950,Regular,22,Chevrolet,T10 (S10) Blazer 4WD,1984,Manual 5-spd,Special Purpose Vehicle 4WD
6947,16,493.722222,18,6.0,2-Wheel Drive,2.8,18.311667,1850,Regular,22,Chevrolet,S10 Utility Body 2WD,1984,Automatic 4-spd,Special Purpose Vehicle 2WD

In [37]:
tb_veic_cyl6.describe()

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,engine_displacement,fuel_barrels_year,fuel_cost_year,highway_mpg,model_year
count,12765.000000,12765.000000,12765.000000,12765.0,12765.000000,12765.000000,12765.000000,12765.000000,12765.000000
mean,16.328946,487.609906,18.606189,6.0,3.439342,18.086572,1943.196240,22.661261,2001.294242
std,2.130492,69.240664,2.603443,0.0,0.549034,2.579958,274.865226,3.747362,9.575349
min,9.000000,206.000000,10.000000,6.0,1.800000,0.109412,1200.000000,10.000000,1984.000000
25%,15.000000,444.350000,17.000000,6.0,3.000000,16.480500,1750.000000,20.000000,1993.000000
50%,16.000000,467.736842,19.000000,6.0,3.500000,17.347895,1950.000000,23.000000,2002.000000
75%,18.000000,522.764706,20.000000,6.0,3.800000,19.388824,2150.000000,25.000000,2009.000000
max,32.000000,888.700000,31.000000,6.0,5.300000,32.961000,3400.000000,38.000000,2017.000000

#### Combinando condições

Podemos utilizar os operadores `&` (análogo ao `and`) e `|` (análogo ao `or`) para combinar condições de forma complexa.

Vamos começar com um problema simples: criar um DataFrame com carros da `Ford` que tenham 6 cilindros.

In [38]:
print(tb_veic.columns)

Index(['city_mpg', 'co2_emission_grams_mile', 'combined_mpg', 'cylinders',
       'drivetrain', 'engine_displacement', 'fuel_barrels_year',
       'fuel_cost_year', 'fuel_type', 'highway_mpg', 'make', 'model',
       'model_year', 'transmission', 'vehicle_class'],
      dtype='object')

In [39]:
tb_veic['make'].value_counts()

Chevrolet                        3643
Ford                             2946
Dodge                            2360
GMC                              2347
Toyota                           1836
                                 ...
Panoz Auto-Development              1
General Motors                      1
Panos                               1
Goldacre                            1
Import Foreign Auto Sales Inc       1
Name: make, Length: 127, dtype: int64

In [40]:
print(tb_veic['make'] == 'Ford')

10889    False
3191     False
30043    False
30064    False
30034    False
         ...
16888    False
31980    False
31982    False
31984    False
18408    False
Name: make, Length: 35952, dtype: bool

In [41]:
sum(tb_veic['make'] == 'Ford')

2946

In [42]:
sum((tb_veic['make'] == 'Ford') & (tb_veic['cylinders'] == 6))

1293

In [43]:
mask_ford_6 = (tb_veic['make'] == 'Ford') & (tb_veic['cylinders'] == 6)
tb_ford6 = tb_veic[mask_ford_6]
tb_ford6.describe()

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,engine_displacement,fuel_barrels_year,fuel_cost_year,highway_mpg,model_year
count,1293.000000,1293.000000,1293.000000,1293.0,1293.000000,1293.000000,1293.000000,1293.000000,1293.000000
mean,15.401392,522.593013,17.334880,6.0,3.779892,19.377908,1967.208043,20.777262,1998.260634
std,1.776323,72.817969,2.360996,0.0,0.716619,2.705757,275.832010,3.595862,9.648753
min,11.000000,383.000000,12.000000,6.0,2.500000,14.330870,1450.000000,13.000000,1984.000000
25%,14.000000,467.736842,15.000000,6.0,3.000000,17.347895,1750.000000,18.000000,1990.000000
50%,15.000000,522.764706,17.000000,6.0,3.800000,19.388824,1950.000000,21.000000,1997.000000
75%,17.000000,592.466667,19.000000,6.0,4.200000,21.974000,2200.000000,23.000000,2006.000000
max,20.000000,740.583333,23.000000,6.0,4.900000,27.467500,2800.000000,31.000000,2017.000000

E se quisessemos construir um DataFrame com todos os carros da Ford de 6 cilindros e todos os carros da Chevrolet de 8 cilindros?

In [44]:
# SEU CÓDIGO AQUI

### Criando colunas condicionais

Além de ser extremamente útil para criar sub-conjuntos de dados, as máscaras também são utilizadas para criar **colunas condicionais**: colunas cujo valor é determinado a partir de condicionais sobre os valores de outras colunas.

#### Utilizando `.loc`
Vamos começar com um exemplo simples: ao invés de filtrar nossos dados, vamos criar uma coluna binária indicando se um carro é da marca Ford. A primeira forma de fazermos isto é através do atributo `.loc`.

In [45]:
mask_ford = tb_veic['make'] == 'Ford'
print(mask_ford)

10889    False
3191     False
30043    False
30064    False
30034    False
         ...
16888    False
31980    False
31982    False
31984    False
18408    False
Name: make, Length: 35952, dtype: bool

Vamos relembrar como a indexação utilizando `.loc` funciona:

``` python
data.loc[row_name, column_name]
```

Podemos passar nossa máscara como índice das linhas, no `row_name`, e podemos criar nossa coluna passando um `column_name` que ainda não existe em nosso DataFrame!

In [46]:
tb_veic.loc[mask_ford, 'e_ford'] = 1
tb_veic.loc[~mask_ford, 'e_ford'] = 0

In [47]:
tb_veic['e_ford'].describe()

count    35952.000000
mean         0.081943
std          0.274281
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: e_ford, dtype: float64

In [48]:
tb_veic[~mask_ford].head()

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,drivetrain,engine_displacement,fuel_barrels_year,fuel_cost_year,fuel_type,highway_mpg,make,model,model_year,transmission,vehicle_class,e_ford
10889,12,623.0,14,10.0,Rear-Wheel Drive,8.4,23.543571,2900,Premium,19,Dodge,Viper,2017,Manual 6-spd,Two Seaters,0.0
3191,11,652.0,14,8.0,Rear-Wheel Drive,6.8,23.543571,2900,Premium,18,Bentley,Mulsanne,2017,Automatic (S8),Midsize Cars,0.0
30043,11,638.0,14,12.0,Rear-Wheel Drive,6.7,23.543571,2900,Premium,19,Rolls-Royce,Phantom Coupe,2017,Automatic (S8),Compact Cars,0.0
30064,11,637.0,14,12.0,Rear-Wheel Drive,6.7,23.543571,2900,Premium,19,Rolls-Royce,Phantom EWB,2017,Automatic (S8),Large Cars,0.0
30034,11,638.0,14,12.0,Rear-Wheel Drive,6.7,23.543571,2900,Premium,19,Rolls-Royce,Phantom,2017,Automatic (S8),Large Cars,0.0

Vamos utilizar essa mesma construção para criar uma classificação de eficiência dos carros, através da coluna `city_mpg`:

- Carros que fazem **menos que 15 Milhas por Galão** serão categoria **C**;
- Carros que fazem **entre 15 e 20 Milhas por Galão** serão categoria **B**;
- Carros que fazem **mais que 20 Milhas por Galão** serão categoria **A**.

Vamos guardar o resultado dessa classificação na coluna `eff_city`.

In [49]:
mask_C = tb_veic['city_mpg']  < 15
mask_B = (tb_veic['city_mpg']  >= 15) & (tb_veic['city_mpg']  < 20)
mask_A = tb_veic['city_mpg']  >= 20

In [50]:
tb_veic.loc[mask_C, 'eff_city'] = 'C'
tb_veic.loc[mask_B, 'eff_city'] = 'B'
tb_veic.loc[mask_A, 'eff_city'] = 'A'

In [51]:
tb_veic['eff_city'].value_counts()

B    17601
A     9879
C     8472
Name: eff_city, dtype: int64

Poderíamos ter criado esta coluna de forma mais abreviada, sem inicializar variáveis para cada máscara:

In [52]:
tb_veic.loc[tb_veic['city_mpg']  < 15, 'eff_city'] = 'C'
tb_veic.loc[(tb_veic['city_mpg']  >= 15) & (tb_veic['city_mpg']  < 20), 'eff_city'] = 'B'
tb_veic.loc[tb_veic['city_mpg']  >= 20, 'eff_city'] = 'A'

In [53]:
tb_veic.columns

Index(['city_mpg', 'co2_emission_grams_mile', 'combined_mpg', 'cylinders',
       'drivetrain', 'engine_displacement', 'fuel_barrels_year',
       'fuel_cost_year', 'fuel_type', 'highway_mpg', 'make', 'model',
       'model_year', 'transmission', 'vehicle_class', 'e_ford', 'eff_city'],
      dtype='object')

As condições acima são **completas**, ou seja, todas as linhas de nossa tabela se enquadrarão em uma das três categorias. O que acontece quando inicializamos uma **coluna condicional** com uma máscara incompleta?

Vamos entender esse comportamento criando a coluna `eff_high`, construída a partir da coluna `highway_mpg` utilizando as condições:

- Carros que fazem **menos que 20 Milhas por Galão** serão categoria **C**;
- Carros que fazem **entre 20 e 30 Milhas por Galão** serão categoria **B**.

(O que está faltando para a condição ser completa?)

In [54]:
mask_C = tb_veic['highway_mpg']  < 20
mask_B = (tb_veic['highway_mpg']  >= 20) & (tb_veic['highway_mpg']  < 30)

In [55]:
tb_veic.loc[mask_C, 'eff_high'] = 'C'
tb_veic.loc[mask_B, 'eff_high'] = 'B'
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35952 entries, 10889 to 18408
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city_mpg                 35952 non-null  int64
 1   co2_emission_grams_mile  35952 non-null  float64
 2   combined_mpg             35952 non-null  int64
 3   cylinders                35952 non-null  float64
 4   drivetrain               35952 non-null  object
 5   engine_displacement      35952 non-null  float64
 6   fuel_barrels_year        35952 non-null  float64
 7   fuel_cost_year           35952 non-null  int64
 8   fuel_type                35952 non-null  object
 9   highway_mpg              35952 non-null  int64
 10  make                     35952 non-null  object
 11  model                    35952 non-null  object
 12  model_year               35952 non-null  int64
 13  transmission             35952 non-null  object
 14  vehicle_class            35952 non-null  object
 15  e_ford                   35952 non-null  float64
 16  eff_city                 35952 non-null  object
 17  eff_high                 30522 non-null  object
dtypes: float64(5), int64(5), object(8)
memory usage: 5.2+ MB

In [56]:
tb_veic.loc[~mask_C & ~mask_B]

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,drivetrain,engine_displacement,fuel_barrels_year,fuel_cost_year,fuel_type,highway_mpg,make,model,model_year,transmission,vehicle_class,e_ford,eff_city,eff_high
7939,19,388.000000,23,6.0,Front-Wheel Drive,3.6,14.330870,1450,Gasoline or E85,31,Chrysler,200,2017,Automatic 9-spd,Midsize Cars,0.0,B,NaN
3785,20,376.000000,24,6.0,Rear-Wheel Drive,3.6,13.733750,1400,Regular,30,Cadillac,ATS,2017,Automatic (S8),Compact Cars,0.0,A,NaN
3878,20,376.000000,24,6.0,Rear-Wheel Drive,3.6,13.733750,1400,Regular,30,Cadillac,CTS,2017,Automatic (S8),Midsize Cars,0.0,A,NaN
3374,21,360.000000,25,6.0,Front-Wheel Drive,3.6,13.184400,1350,Regular,31,Buick,LaCrosse,2017,Automatic (S8),Midsize Cars,0.0,A,NaN
32598,21,363.000000,24,6.0,Front-Wheel Drive,3.5,13.733750,1400,Regular,30,Toyota,Camry,2017,Automatic (S6),Midsize Cars,0.0,A,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6796,26,351.034483,29,4.0,2-Wheel Drive,2.2,13.178793,1250,Diesel,32,Chevrolet,S10 Pickup 2WD,1984,Manual 5-spd,Small Pickup Trucks 2WD,0.0,A,NaN
26752,24,329.148148,27,4.0,2-Wheel Drive,2.0,12.207778,1250,Regular,31,Nissan,Pickup 2WD,1984,Manual 5-spd,Small Pickup Trucks 2WD,0.0,A,NaN
15251,23,341.807692,26,4.0,2-Wheel Drive,2.0,12.677308,1300,Regular,31,GMC,S15 Pickup 2WD,1984,Manual 5-spd,Small Pickup Trucks 2WD,0.0,A,NaN
6791,23,341.807692,26,4.0,2-Wheel Drive,2.0,12.677308,1300,Regular,31,Chevrolet,S10 Pickup 2WD,1984,Manual 5-spd,Small Pickup Trucks 2WD,0.0,A,NaN
16888,31,328.387097,31,4.0,2-Wheel Drive,1.6,12.328548,1150,Diesel,32,Grumman Olson,Kubvan,1984,Manual 5-spd,Special Purpose Vehicle 2WD,0.0,A,NaN

Sua vez: vamos corrigir a coluna `eff_high` e adicionar um coluna que verifica se um automóvel é eficiente tanto na cidade (`eff_city == "A"`) quanto na estrad"(`eff_high == "A"`)

In [57]:
# DESAFIO

In [58]:
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35952 entries, 10889 to 18408
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city_mpg                 35952 non-null  int64
 1   co2_emission_grams_mile  35952 non-null  float64
 2   combined_mpg             35952 non-null  int64
 3   cylinders                35952 non-null  float64
 4   drivetrain               35952 non-null  object
 5   engine_displacement      35952 non-null  float64
 6   fuel_barrels_year        35952 non-null  float64
 7   fuel_cost_year           35952 non-null  int64
 8   fuel_type                35952 non-null  object
 9   highway_mpg              35952 non-null  int64
 10  make                     35952 non-null  object
 11  model                    35952 non-null  object
 12  model_year               35952 non-null  int64
 13  transmission             35952 non-null  object
 14  vehicle_class            35952 non-null  object
 15  e_ford                   35952 non-null  float64
 16  eff_city                 35952 non-null  object
 17  eff_high                 30522 non-null  object
dtypes: float64(5), int64(5), object(8)
memory usage: 5.2+ MB

In [60]:
tb_veic[tb_veic['cylinders'] == 6]

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,drivetrain,engine_displacement,fuel_barrels_year,fuel_cost_year,fuel_type,highway_mpg,make,model,model_year,transmission,vehicle_class,e_ford,eff_city,eff_high
16088,18,448.000000,20,6.0,Rear-Wheel Drive,4.3,16.480500,1650,Gasoline or E85,24,GMC,Sierra C15 2WD,2017,Automatic 6-spd,Standard Pickup Trucks 2WD,0.0,B,B
16168,17,474.000000,19,6.0,4-Wheel Drive,4.3,17.347895,1750,Gasoline or E85,22,GMC,Sierra K15 4WD,2017,Automatic 6-spd,Standard Pickup Trucks 4WD,0.0,B,B
7207,17,473.000000,19,6.0,4-Wheel Drive,4.3,17.347895,1750,Gasoline or E85,22,Chevrolet,Silverado K15 4WD,2017,Automatic 6-spd,Standard Pickup Trucks 4WD,0.0,B,B
7131,18,448.000000,20,6.0,Rear-Wheel Drive,4.3,16.480500,1650,Gasoline or E85,24,Chevrolet,Silverado C15 2WD,2017,Automatic 6-spd,Standard Pickup Trucks 2WD,0.0,B,B
29312,19,428.000000,21,6.0,All-Wheel Drive,3.8,15.695714,1950,Premium,24,Porsche,911 Turbo S,2017,Auto(AM-S7),Minicompact Cars,0.0,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6772,13,683.615385,13,6.0,2-Wheel Drive,2.8,25.354615,2550,Regular,13,Chevrolet,S10 Cab Chassis 2WD,1984,Automatic 4-spd,Special Purpose Vehicles,0.0,C,C
7455,15,493.722222,18,6.0,4-Wheel or All-Wheel Drive,2.8,18.311667,1850,Regular,22,Chevrolet,T10 (S10) Blazer 4WD,1984,Automatic 4-spd,Special Purpose Vehicle 4WD,0.0,B,B
7456,15,522.764706,17,6.0,4-Wheel or All-Wheel Drive,2.8,19.388824,1950,Regular,20,Chevrolet,T10 (S10) Blazer 4WD,1984,Manual 4-spd,Special Purpose Vehicle 4WD,0.0,B,B
7457,15,522.764706,17,6.0,4-Wheel or All-Wheel Drive,2.8,19.388824,1950,Regular,22,Chevrolet,T10 (S10) Blazer 4WD,1984,Manual 5-spd,Special Purpose Vehicle 4WD,0.0,B,B
6947,16,493.722222,18,6.0,2-Wheel Drive,2.8,18.311667,1850,Regular,22,Chevrolet,S10 Utility Body 2WD,1984,Automatic 4-spd,Special Purpose Vehicle 2WD,0.0,B,B

#### Utilizando `np.where()`

Além de utilizar a indexação através do `.loc`, podemos utilizar a função `np.where()` do NumPy para criar colunas condicionais. A sintaxe desta função é:

`np.where(Máscara, Valor quando Máscara é Verdadeira, Valor quando False)`

O `np.where()` tem uma sintáxe muito parecida com o `if/else` (para quem já usou Excel, é o próprio IF de planilhas!). Vamos começar criando uma coluna binária simples: `cyl_6`. O valor dessa coluna será `1` quando o carro tiver 6 cilindros e `0` em todos os outros casos.

In [62]:
tb_veic.loc[tb_veic['cylinders'] == 6, 'tem_6_cyl'] = 1
tb_veic.loc[~(tb_veic['cylinders'] == 6), 'tem_6_cyl'] = 0
tb_veic.describe()

,city_mpg,co2_emission_grams_mile,combined_mpg,cylinders,engine_displacement,fuel_barrels_year,fuel_cost_year,highway_mpg,model_year,e_ford,tem_6_cyl
count,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.00000,35952.000000,35952.000000
mean,17.646139,475.316339,19.929322,5.765076,3.338493,17.609056,1892.598465,23.880646,2000.71640,0.081943,0.355057
std,4.769349,119.060773,5.112409,1.755268,1.359395,4.467283,506.958627,5.890876,10.08529,0.274281,0.478537
min,6.000000,37.000000,7.000000,2.000000,0.600000,0.060000,600.000000,9.000000,1984.00000,0.000000,0.000000
25%,15.000000,395.000000,16.000000,4.000000,2.200000,14.699423,1500.000000,20.000000,1991.00000,0.000000,0.000000
50%,17.000000,467.736842,19.000000,6.000000,3.000000,17.347895,1850.000000,24.000000,2001.00000,0.000000,0.000000
75%,20.000000,555.437500,23.000000,6.000000,4.300000,20.600625,2200.000000,27.000000,2010.00000,0.000000,1.000000
max,58.000000,1269.571429,56.000000,16.000000,8.400000,47.087143,5800.000000,61.000000,2017.00000,1.000000,1.000000

In [64]:
np.where(tb_veic['cylinders'] == 6, "Tem 6 cilindros", "Núm. de Cilindros != 6")

array(['Núm. de Cilindros != 6', 'Núm. de Cilindros != 6',
       'Núm. de Cilindros != 6', ..., 'Núm. de Cilindros != 6',
       'Núm. de Cilindros != 6', 'Núm. de Cilindros != 6'], dtype='<U22')

In [65]:
tb_veic['cyl_6'] = np.where(tb_veic['cylinders'] == 6, "Tem 6 cilindros", "Núm. de Cilindros != 6")
tb_veic['cyl_6'].describe()

count                      35952
unique                         2
top       Núm. de Cilindros != 6
freq                       23187
Name: cyl_6, dtype: object

In [66]:
tb_veic['cyl_6'].value_counts()

Núm. de Cilindros != 6    23187
Tem 6 cilindros           12765
Name: cyl_6, dtype: int64

Agora, vamos construir condições mais complexas.

Primeiro, vamos utilizar duas condicionais em uma máscara para criar a coluna `cyl_6_ford`: uma marcação binária dos carros da Ford com 6 cilindros.

In [67]:
tb_veic['cyl_6_ford'] = np.where((tb_veic['make'] == 'Ford') & (tb_veic['cylinders'] == 6),
                                 1,
                                 0)
print(tb_veic['cyl_6_ford'].describe())

count    35952.000000
mean         0.035965
std          0.186205
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: cyl_6_ford, dtype: float64

Agora vamos encadear condicionais para recriar a regra de eficiência na estrada, `eff_high`, a partir da coluna `highway_mpg`:

- Carros que fazem **menos que 20 Milhas por Galão** serão categoria **C**;
- Carros que fazem **entre 20 e 30 Milhas por Galão** serão categoria **B**;
- Carros que fazem **mais que 30 Milhas por Galão** serão categoria **B**;

In [68]:
tb_veic['eff_high'] = np.where(tb_veic['highway_mpg'] < 20, 'C',
                               np.where(tb_veic['highway_mpg'] < 30, 'B', 'A'))
tb_veic['eff_high'].value_counts()

B    21956
C     8566
A     5430
Name: eff_high, dtype: int64