# Integração Python-SQL

Até agora vimos como construir *queries* dentro de um ambiente SQL (através do cliente *DBeaver*). Embora a utilização de um cliente seja fundamental para explorar o banco de dados e construir *queries* de forma mais rápida, ele não contém ferramentas analíticas (tabelas, funções matemáticas complexas, gráficos, modelos, etc).

Para acessar funções analíticas podemos utilizar outras ferramentas como **clientes** do nosso banco de dados: desde o Excel até Python e Tableau. Na aula de hoje veremos como conectar o Python ao nosso servidor MySQL e extrair dados para análise.

Vamos utilizar a biblioteca **pymysql** para realizar essa conexão. Além disso utilizaremos a biblioteca **sqlalchemy** para executar queries em nosso banco.

## PyMySQL + SQLAlchemy

In [ ]:
!pip install pymysql

In [73]:
from sqlalchemy import create_engine

In [85]:
import sqlalchemy

In [86]:
import sqlalchemy
print(sqlalchemy.__version__)

1.4.39

Primeiro precisamos especificar os **parâmetros de conexão** ao nosso banco de dados:

In [74]:
user = "root"
password = "swpmlu23-"
url_banco = "localhost"
nome_db = "bank"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"
print(conn_str)

mysql+pymysql://root:swpmlu23-@localhost/bank

Agora vamos utilizar o string de conexão `conn_str` para criar um objeto `engine`:

In [75]:
engine = create_engine(conn_str)
print(engine)

Engine(mysql+pymysql://root:***@localhost/bank)

Para executar um query basta utilizarmos o método `.execute()` de um `Engine`:

In [78]:
results = engine.execute("SELECT * FROM account")
print(results)

<sqlalchemy.engine.cursor.LegacyCursorResult object at 0x7fbb129b1130>

O resultado do método é um **cursor**: ele ainda não contém os resultados de nosso query. Para extrair-los utilizaremos o método `.fetchall()`:

In [79]:
dados = results.fetchall()
dados

[(1, 18, 'POPLATEK MESICNE', 950324),
 (2, 1, 'POPLATEK MESICNE', 930226),
 (3, 5, 'POPLATEK MESICNE', 970707),
 (4, 12, 'POPLATEK MESICNE', 960221),
 (5, 15, 'POPLATEK MESICNE', 970530),
 (6, 51, 'POPLATEK MESICNE', 940927),
 (7, 60, 'POPLATEK MESICNE', 961124),
 (8, 57, 'POPLATEK MESICNE', 950921),
 (9, 70, 'POPLATEK MESICNE', 930127),
 (10, 54, 'POPLATEK MESICNE', 960828),
 (11, 76, 'POPLATEK MESICNE', 951010),
 (12, 21, 'POPLATEK MESICNE', 970415),
 (13, 76, 'POPLATEK MESICNE', 970817),
 (14, 47, 'POPLATEK MESICNE', 961127),
 (15, 70, 'POPLATEK MESICNE', 931002),
 (16, 12, 'POPLATEK MESICNE', 970923),
 (17, 1, 'POPLATEK MESICNE', 970108),
 (18, 43, 'POPLATEK TYDNE', 930526),
 (19, 21, 'POPLATEK MESICNE', 950407),
 (20, 74, 'POPLATEK MESICNE', 960824),
 (21, 54, 'POPLATEK MESICNE', 971206),
 (22, 1, 'POPLATEK MESICNE', 940323),
 (23, 30, 'POPLATEK MESICNE', 930522),
 (24, 74, 'POPLATEK MESICNE', 961205),
 (25, 68, 'POPLATEK MESICNE', 960728),
 (26, 52, 'POPLATEK MESICNE', 930808),
 (27, 73, 'POPLATEK MESICNE', 930926),
 (29, 7, 'POPLATEK MESICNE', 941124),
 (30, 36, 'POPLATEK MESICNE', 950304),
 (31, 68, 'POPLATEK MESICNE', 940427),
 (32, 5, 'POPLATEK MESICNE', 950828),
 (33, 22, 'POPLATEK MESICNE', 930826),
 (34, 67, 'POPLATEK TYDNE', 930917),
 (35, 75, 'POPLATEK MESICNE', 930707),
 (36, 1, 'POPLATEK MESICNE', 930701),
 (37, 20, 'POPLATEK MESICNE', 970818),
 (38, 19, 'POPLATEK TYDNE', 970808),
 (39, 36, 'POPLATEK MESICNE', 930922),
 (40, 64, 'POPLATEK MESICNE', 931025),
 (41, 72, 'POPLATEK MESICNE', 970802),
 (42, 39, 'POPLATEK MESICNE', 960816),
 (43, 36, 'POPLATEK MESICNE', 940612),
 (44, 32, 'POPLATEK MESICNE', 930510),
 (45, 64, 'POPLATEK MESICNE', 970902),
 (47, 45, 'POPLATEK MESICNE', 930808),
 (48, 21, 'POPLATEK MESICNE', 961117),
 (49, 1, 'POPLATEK MESICNE', 970406),
 (50, 1, 'POPLATEK MESICNE', 940506),
 (51, 67, 'POPLATEK MESICNE', 960511),
 (52, 16, 'POPLATEK MESICNE', 970129),
 (53, 77, 'POPLATEK MESICNE', 950607),
 (54, 4, 'POPLATEK MESICNE', 950502),
 (55, 20, 'POPLATEK MESICNE', 960219),
 (56, 50, 'POPLATEK MESICNE', 940516),
 (57, 1, 'POPLATEK MESICNE', 950521),
 (58, 29, 'POPLATEK MESICNE', 960823),
 (59, 43, 'POPLATEK MESICNE', 940327),
 (61, 70, 'POPLATEK MESICNE', 931211),
 (62, 47, 'POPLATEK MESICNE', 930328),
 (63, 22, 'POPLATEK MESICNE', 961116),
 (64, 64, 'POPLATEK MESICNE', 970311),
 (65, 36, 'POPLATEK MESICNE', 961029),
 (66, 48, 'POPLATEK PO OBRATU', 931203),
 (67, 16, 'POPLATEK MESICNE', 941019),
 (68, 37, 'POPLATEK PO OBRATU', 941220),
 (69, 64, 'POPLATEK MESICNE', 960112),
 (70, 8, 'POPLATEK MESICNE', 950218),
 (71, 1, 'POPLATEK MESICNE', 940305),
 (72, 1, 'POPLATEK TYDNE', 960620),
 (73, 72, 'POPLATEK MESICNE', 931108),
 (75, 1, 'POPLATEK MESICNE', 950813),
 (76, 52, 'POPLATEK MESICNE', 960516),
 (77, 63, 'POPLATEK MESICNE', 961119),
 (78, 74, 'POPLATEK MESICNE', 930707),
 (79, 3, 'POPLATEK MESICNE', 961129),
 (80, 43, 'POPLATEK MESICNE', 950927),
 (81, 74, 'POPLATEK MESICNE', 960718),
 (82, 26, 'POPLATEK MESICNE', 940503),
 (83, 26, 'POPLATEK MESICNE', 930416),
 (84, 44, 'POPLATEK PO OBRATU', 951225),
 (85, 68, 'POPLATEK MESICNE', 970323),
 (86, 54, 'POPLATEK MESICNE', 930307),
 (88, 31, 'POPLATEK MESICNE', 960703),
 (89, 68, 'POPLATEK MESICNE', 970925),
 (90, 1, 'POPLATEK MESICNE', 940713),
 (91, 17, 'POPLATEK MESICNE', 961106),
 (93, 2, 'POPLATEK MESICNE', 960612),
 (95, 1, 'POPLATEK MESICNE', 950330),
 (96, 68, 'POPLATEK MESICNE', 930218),
 (97, 74, 'POPLATEK MESICNE', 960505),
 (98, 55, 'POPLATEK MESICNE', 970502),
 (99, 1, 'POPLATEK MESICNE', 950627),
 (100, 41, 'POPLATEK MESICNE', 931228),
 (101, 35, 'POPLATEK MESICNE', 960416),
 (102, 11, 'POPLATEK MESICNE', 931016),
 (103, 44, 'POPLATEK MESICNE', 960310),
 (104, 37, 'POPLATEK MESICNE', 930415),
 (105, 21, 'POPLATEK MESICNE', 970710),
 (106, 63, 'POPLATEK MESICNE', 941127),
 (107, 64, 'POPLATEK MESICNE', 931105),
 (108, 53, 'POPLATEK MESICNE', 950310),
 (109, 53, 'POPLATEK MESICNE', 970420),
 (110, 36, 'POPLATEK MESICNE', 960717),
 (112, 6, 'POPLATEK MESICNE', 930312),
 (113, 55, 'POPLATEK MESICNE', 960722),
 (114, 60, 'POPLATEK MESICNE', 970314),
 (115, 68, 'POPLATEK MESICNE', 930319),
 (116, 8, 'POPLATEK MESICNE', 960321),
 (117, 31, 'POPLATEK MESICNE', 930905),
 (118, 68, 'POPLATEK MESICNE', 970918),
 (119, 27, 'POPLATEK MESICNE', 930525),
 (120, 65, 'POPLATEK TYDNE', 950616),
 (121, 55, 'POPLATEK MESICNE', 971011),
 (122, 31, 'POPLATEK MESICNE', 961030),
 (123, 21, 'POPLATEK MESICNE', 930313),
 (124, 55, 'POPLATEK MESICNE', 971228),
 (125, 2, 'POPLATEK PO OBRATU', 960907),
 (126, 5, 'POPLATEK MESICNE', 931023),
 (127, 29, 'POPLATEK MESICNE', 940202),
 (128, 2, 'POPLATEK MESICNE', 930219),
 (129, 74, 'POPLATEK MESICNE', 971001),
 (130, 54, 'POPLATEK MESICNE', 970212),
 (131, 52, 'POPLATEK MESICNE', 950613),
 (132, 40, 'POPLATEK PO OBRATU', 960511),
 (133, 64, 'POPLATEK TYDNE', 971011),
 (134, 34, 'POPLATEK MESICNE', 971210),
 (135, 75, 'POPLATEK MESICNE', 930615),
 (136, 74, 'POPLATEK MESICNE', 960514),
 (137, 70, 'POPLATEK MESICNE', 960719),
 (138, 22, 'POPLATEK MESICNE', 950919),
 (139, 38, 'POPLATEK TYDNE', 970515),
 (140, 24, 'POPLATEK MESICNE', 960625),
 (141, 38, 'POPLATEK MESICNE', 960306),
 (142, 51, 'POPLATEK MESICNE', 930215),
 (143, 21, 'POPLATEK MESICNE', 961127),
 (144, 10, 'POPLATEK TYDNE', 970403),
 (145, 31, 'POPLATEK MESICNE', 960103),
 (146, 4, 'POPLATEK MESICNE', 930902),
 (148, 8, 'POPLATEK MESICNE', 930621),
 (149, 43, 'POPLATEK MESICNE', 971116),
 (150, 73, 'POPLATEK MESICNE', 950316),
 (151, 76, 'POPLATEK MESICNE', 930906),
 (152, 1, 'POPLATEK MESICNE', 960412),
 (153, 77, 'POPLATEK MESICNE', 930919),
 (154, 46, 'POPLATEK MESICNE', 940621),
 (155, 58, 'POPLATEK MESICNE', 951107),
 (156, 64, 'POPLATEK MESICNE', 971022),
 (157, 11, 'POPLATEK MESICNE', 970328),
 (158, 37, 'POPLATEK MESICNE', 950315),
 (159, 70, 'POPLATEK MESICNE', 970211),
 (160, 23, 'POPLATEK MESICNE', 930904),
 (161, 28, 'POPLATEK MESICNE', 940704),
 (162, 60, 'POPLATEK MESICNE', 930825),
 (163, 30, 'POPLATEK MESICNE', 930127),
 (164, 60, 'POPLATEK MESICNE', 960913),
 (165, 25, 'POPLATEK MESICNE', 930601),
 (166, 17, 'POPLATEK MESICNE', 960820),
 (167, 29, 'POPLATEK TYDNE', 960226),
 (168, 31, 'POPLATEK MESICNE', 930427),
 (169, 4, 'POPLATEK MESICNE', 950928),
 (170, 59, 'POPLATEK MESICNE', 960702),
 (171, 46, 'POPLATEK MESICNE', 960608),
 (172, 13, 'POPLATEK MESICNE', 930830),
 (173, 66, 'POPLATEK MESICNE', 931126),
 (174, 52, 'POPLATEK MESICNE', 960904),
 (176, 71, 'POPLATEK TYDNE', 960812),
 (177, 1, 'POPLATEK MESICNE', 970926),
 (178, 59, 'POPLATEK MESICNE', 970906),
 (179, 1, 'POPLATEK TYDNE', 970922),
 (180, 55, 'POPLATEK TYDNE', 931214),
 (181, 21, 'POPLATEK MESICNE', 960611),
 (182, 47, 'POPLATEK MESICNE', 960824),
 (183, 43, 'POPLATEK MESICNE', 931212),
 (184, 77, 'POPLATEK MESICNE', 960221),
 (185, 32, 'POPLATEK MESICNE', 970704),
 (186, 1, 'POPLATEK TYDNE', 930729),
 (187, 5, 'POPLATEK MESICNE', 930328),
 (188, 54, 'POPLATEK MESICNE', 930420),
 (189, 76, 'POPLATEK MESICNE', 970416),
 (190, 74, 'POPLATEK MESICNE', 950302),
 (191, 41, 'POPLATEK MESICNE', 970317),
 (192, 55, 'POPLATEK MESICNE', 930108),
 (193, 69, 'POPLATEK MESICNE', 961222),
 (194, 44, 'POPLATEK MESICNE', 960801),
 (195, 70, 'POPLATEK MESICNE', 970227),
 (196, 4, 'POPLATEK MESICNE', 931114),
 (197, 1, 'POPLATEK MESICNE', 930225),
 (198, 70, 'POPLATEK MESICNE', 931025),
 (199, 70, 'POPLATEK MESICNE', 961026),
 (200, 17, 'POPLATEK MESICNE', 940703),
 (201, 63, 'POPLATEK MESICNE', 941102),
 (204, 67, 'POPLATEK MESICNE', 960113),
 (205, 1, 'POPLATEK MESICNE', 971008),
 (206, 61, 'POPLATEK MESICNE', 950408),
 (207, 2, 'POPLATEK MESICNE', 930725),
 (208, 54, 'POPLATEK MESICNE', 960327),
 (209, 37, 'POPLATEK MESICNE', 961124),
 (210, 48, 'POPLATEK MESICNE', 960317),
 (211, 28, 'POPLATEK MESICNE', 970719),
 (212, 27, 'POPLATEK TYDNE', 930120),
 (213, 73, 'POPLATEK MESICNE', 950829),
 (214, 22, 'POPLATEK MESICNE', 970309),
 (215, 31, 'POPLATEK MESICNE', 971125),
 (216, 38, 'POPLATEK MESICNE', 940516),
 (217, 77, 'POPLATEK MESICNE', 950120),
 (218, 68, 'POPLATEK MESICNE', 960206),
 (219, 28, 'POPLATEK MESICNE', 950906),
 (220, 72, 'POPLATEK MESICNE', 930409),
 (221, 19, 'POPLATEK MESICNE', 961030),
 (222, 37, 'POPLATEK MESICNE', 930315),
 (223, 39, 'POPLATEK MESICNE', 950613),
 (224, 15, 'POPLATEK MESICNE', 961027),
 (225, 1, 'POPLATEK MESICNE', 930728),
 (226, 70, 'POPLATEK MESICNE', 970223),
 (227, 27, 'POPLATEK MESICNE', 950328),
 (228, 5, 'POPLATEK MESICNE', 930928),
 (229, 1, 'POPLATEK MESICNE', 970607),
 (230, 1, 'POPLATEK MESICNE', 960226),
 (231, 22, 'POPLATEK MESICNE', 950403),
 (232, 45, 'POPLATEK MESICNE', 971129),
 (234, 73, 'POPLATEK MESICNE', 930715),
 (235, 41, 'POPLATEK MESICNE', 931006),
 (236, 72, 'POPLATEK MESICNE', 960316),
 (237, 50, 'POPLATEK MESICNE', 940325),
 (238, 6, 'POPLATEK MESICNE', 930815),
 (239, 69, 'POPLATEK TYDNE', 930301),
 (240, 72, 'POPLATEK MESICNE', 970428),
 (241, 15, 'POPLATEK MESICNE', 960929),
 (242, 69, 'POPLATEK MESICNE', 960829),
 (243, 55, 'POPLATEK TYDNE', 931106),
 (244, 24, 'POPLATEK MESICNE', 930208),
 (245, 65, 'POPLATEK MESICNE', 931125),
 (246, 65, 'POPLATEK MESICNE', 971220),
 (248, 1, 'POPLATEK MESICNE', 950402),
 (249, 28, 'POPLATEK MESICNE', 961203),
 (250, 56, 'POPLATEK MESICNE', 970510),
 (251, 74, 'POPLATEK MESICNE', 960406),
 (252, 19, 'POPLATEK MESICNE', 961226),
 (253, 46, 'POPLATEK MESICNE', 951205),
 (255, 68, 'POPLATEK MESICNE', 961103),
 (256, 37, 'POPLATEK MESICNE', 950514),
 (257, 11, 'POPLATEK MESICNE', 951105),
 (258, 64, 'POPLATEK MESICNE', 970709),
 (259, 2, 'POPLATEK MESICNE', 931028),
 (260, 24, 'POPLATEK MESICNE', 951014),
 (261, 54, 'POPLATEK MESICNE', 961007),
 (262, 75, 'POPLATEK MESICNE', 960127),
 (263, 64, 'POPLATEK TYDNE', 970103),
 (264, 15, 'POPLATEK MESICNE', 960209),
 (265, 19, 'POPLATEK MESICNE', 960705),
 (266, 47, 'POPLATEK MESICNE', 940511),
 (267, 38, 'POPLATEK MESICNE', 950426),
 (268, 3, 'POPLATEK MESICNE', 960529),
 (269, 3, 'POPLATEK MESICNE', 960830),
 (270, 27, 'POPLATEK MESICNE', 950123),
 (271, 1, 'POPLATEK MESICNE', 960813),
 (272, 11, 'POPLATEK MESICNE', 961023),
 (273, 24, 'POPLATEK PO OBRATU', 930711),
 (274, 76, 'POPLATEK MESICNE', 930820),
 (275, 29, 'POPLATEK MESICNE', 960102),
 (276, 38, 'POPLATEK MESICNE', 971208),
 (277, 32, 'POPLATEK PO OBRATU', 940501),
 (278, 73, 'POPLATEK MESICNE', 960408),
 (279, 39, 'POPLATEK MESICNE', 930414),
 (280, 25, 'POPLATEK MESICNE', 930123),
 (281, 1, 'POPLATEK MESICNE', 961027),
 (282, 69, 'POPLATEK MESICNE', 970512),
 (283, 44, 'POPLATEK MESICNE', 960418),
 (284, 54, 'POPLATEK MESICNE', 970718),
 (285, 17, 'POPLATEK MESICNE', 950508),
 (286, 71, 'POPLATEK MESICNE', 960327),
 (287, 16, 'POPLATEK MESICNE', 931027),
 (288, 25, 'POPLATEK MESICNE', 950318),
 (289, 1, 'POPLATEK MESICNE', 940317),
 (290, 56, 'POPLATEK MESICNE', 931202),
 (291, 7, 'POPLATEK MESICNE', 970608),
 (292, 49, 'POPLATEK MESICNE', 970226),
 (293, 1, 'POPLATEK MESICNE', 970504),
 (294, 7, 'POPLATEK MESICNE', 970105),
 (295, 66, 'POPLATEK MESICNE', 971123),
 (296, 49, 'POPLATEK MESICNE', 960214),
 (297, 74, 'POPLATEK MESICNE', 960908),
 (298, 35, 'POPLATEK MESICNE', 971202),
 (299, 77, 'POPLATEK MESICNE', 930405),
 (300, 1, 'POPLATEK MESICNE', 930623),
 (301, 60, 'POPLATEK MESICNE', 950910),
 (302, 7, 'POPLATEK MESICNE', 960509),
 (303, 71, 'POPLATEK MESICNE', 960725),
 (304, 4, 'POPLATEK MESICNE', 970320),
 (305, 34, 'POPLATEK MESICNE', 961018),
 (306, 16, 'POPLATEK MESICNE', 930608),
 (307, 26, 'POPLATEK MESICNE', 970807),
 (308, 61, 'POPLATEK MESICNE', 951016),
 (309, 14, 'POPLATEK MESICNE', 970425),
 (311, 50, 'POPLATEK MESICNE', 970808),
 (312, 41, 'POPLATEK MESICNE', 960103),
 (313, 73, 'POPLATEK MESICNE', 960706),
 (314, 15, 'POPLATEK PO OBRATU', 960126),
 (315, 45, 'POPLATEK MESICNE', 971208),
 (316, 62, 'POPLATEK MESICNE', 970508),
 (317, 76, 'POPLATEK MESICNE', 930310),
 (318, 36, 'POPLATEK MESICNE', 940916),
 (319, 47, 'POPLATEK TYDNE', 951017),
 (320, 47, 'POPLATEK MESICNE', 970123),
 (321, 47, 'POPLATEK MESICNE', 931111),
 (322, 1, 'POPLATEK MESICNE', 930220),
 (323, 52, 'POPLATEK MESICNE', 970223),
 (324, 1, 'POPLATEK MESICNE', 960823),
 (325, 75, 'POPLATEK MESICNE', 961006),
 (326, 61, 'POPLATEK MESICNE', 970806),
 (327, 54, 'POPLATEK MESICNE', 930602),
 (328, 1, 'POPLATEK MESICNE', 970918),
 (329, 3, 'POPLATEK MESICNE', 961019),
 (330, 42, 'POPLATEK MESICNE', 961124),
 (331, 65, 'POPLATEK MESICNE', 951002),
 (332, 36, 'POPLATEK MESICNE', 960112),
 (333, 73, 'POPLATEK MESICNE', 961223),
 (334, 1, 'POPLATEK MESICNE', 930524),
 (335, 74, 'POPLATEK MESICNE', 960120),
 (336, 62, 'POPLATEK MESICNE', 951016),
 (337, 17, 'POPLATEK MESICNE', 951125),
 (338, 49, 'POPLATEK MESICNE', 951118),
 (339, 46, 'POPLATEK TYDNE', 960911),
 (340, 1, 'POPLATEK MESICNE', 931103),
 (341, 28, 'POPLATEK MESICNE', 961119),
 (342, 64, 'POPLATEK MESICNE', 961013),
 (343, 18, 'POPLATEK MESICNE', 940426),
 (344, 54, 'POPLATEK MESICNE', 931201),
 (345, 5, 'POPLATEK MESICNE', 931120),
 (346, 37, 'POPLATEK MESICNE', 930111),
 (347, 65, 'POPLATEK MESICNE', 931213),
 (348, 25, 'POPLATEK MESICNE', 951115),
 (349, 72, 'POPLATEK MESICNE', 970608),
 (350, 47, 'POPLATEK MESICNE', 961013),
 (351, 50, 'POPLATEK MESICNE', 970217),
 (352, 39, 'POPLATEK MESICNE', 940704),
 (353, 24, 'POPLATEK MESICNE', 950830),
 (354, 59, 'POPLATEK MESICNE', 931028),
 (355, 62, 'POPLATEK TYDNE', 960201),
 (356, 70, 'POPLATEK MESICNE', 960312),
 (357, 20, 'POPLATEK MESICNE', 960310),
 (358, 12, 'POPLATEK MESICNE', 931209),
 (359, 11, 'POPLATEK MESICNE', 941211),
 (360, 32, 'POPLATEK MESICNE', 960514),
 (361, 51, 'POPLATEK MESICNE', 930227),
 (362, 15, 'POPLATEK MESICNE', 930404),
 (363, 1, 'POPLATEK MESICNE', 940506),
 (364, 1, 'POPLATEK MESICNE', 970120),
 (365, 74, 'POPLATEK MESICNE', 931212),
 (366, 1, 'POPLATEK MESICNE', 961023),
 (367, 23, 'POPLATEK MESICNE', 970509),
 (368, 77, 'POPLATEK MESICNE', 930706),
 (370, 25, 'POPLATEK MESICNE', 940218),
 (371, 12, 'POPLATEK MESICNE', 960802),
 (372, 55, 'POPLATEK MESICNE', 950910),
 (373, 67, 'POPLATEK MESICNE', 960620),
 (374, 38, 'POPLATEK MESICNE', 930109),
 (375, 68, 'POPLATEK MESICNE', 960607),
 (376, 25, 'POPLATEK MESICNE', 950305),
 (377, 70, 'POPLATEK MESICNE', 940819),
 (378, 68, 'POPLATEK MESICNE', 960722),
 (379, 32, 'POPLATEK MESICNE', 960518),
 (381, 68, 'POPLATEK MESICNE', 930704),
 (382, 14, 'POPLATEK MESICNE', 960816),
 (383, 38, 'POPLATEK MESICNE', 970515),
 (384, 24, 'POPLATEK TYDNE', 970914),
 (385, 5, 'POPLATEK MESICNE', 930407),
 (386, 1, 'POPLATEK MESICNE', 970811),
 (387, 72, 'POPLATEK MESICNE', 970919),
 (388, 59, 'POPLATEK MESICNE', 950211),
 (389, 30, 'POPLATEK MESICNE', 930828),
 (390, 44, 'POPLATEK MESICNE', 960216),
 (391, 36, 'POPLATEK MESICNE', 931211),
 (392, 1, 'POPLATEK MESICNE', 960714),
 (393, 46, 'POPLATEK MESICNE', 950204),
 (395, 1, 'POPLATEK MESICNE', 930312),
 (396, 21, 'POPLATEK MESICNE', 930308),
 (397, 11, 'POPLATEK MESICNE', 931026),
 (398, 69, 'POPLATEK MESICNE', 971024),
 (399, 1, 'POPLATEK MESICNE', 960827),
 (400, 28, 'POPLATEK MESICNE', 930717),
 (401, 32, 'POPLATEK MESICNE', 930118),
 (402, 68, 'POPLATEK MESICNE', 970914),
 (403, 1, 'POPLATEK MESICNE', 930729),
 (404, 41, 'POPLATEK MESICNE', 950428),
 (405, 55, 'POPLATEK MESICNE', 970313),
 (406, 63, 'POPLATEK MESICNE', 960903),
 (407, 72, 'POPLATEK TYDNE', 970418),
 (408, 41, 'POPLATEK MESICNE', 930721),
 (409, 1, 'POPLATEK MESICNE', 960611),
 (410, 49, 'POPLATEK MESICNE', 961015),
 (411, 70, 'POPLATEK MESICNE', 930205),
 (412, 74, 'POPLATEK MESICNE', 960121),
 (413, 18, 'POPLATEK MESICNE', 960709),
 (414, 1, 'POPLATEK MESICNE', 960129),
 (415, 25, 'POPLATEK MESICNE', 930303),
 (416, 6, 'POPLATEK MESICNE', 960811),
 (417, 73, 'POPLATEK MESICNE', 960127),
 (418, 36, 'POPLATEK MESICNE', 950827),
 (419, 13, 'POPLATEK MESICNE', 931025),
 (420, 75, 'POPLATEK MESICNE', 950826),
 (421, 75, 'POPLATEK MESICNE', 971127),
 (422, 53, 'POPLATEK TYDNE', 940829),
 (423, 12, 'POPLATEK MESICNE', 930328),
 (424, 12, 'POPLATEK MESICNE', 970217),
 (425, 9, 'POPLATEK MESICNE', 930319),
 (426, 1, 'POPLATEK MESICNE', 931129),
 (427, 8, 'POPLATEK MESICNE', 940724),
 (428, 1, 'POPLATEK MESICNE', 930227),
 (429, 63, 'POPLATEK MESICNE', 950903),
 (430, 54, 'POPLATEK MESICNE', 950902),
 (431, 18, 'POPLATEK MESICNE', 961105),
 (432, 46, 'POPLATEK MESICNE', 930616),
 (433, 20, 'POPLATEK MESICNE', 930612),
 (434, 1, 'POPLATEK MESICNE', 961224),
 (435, 38, 'POPLATEK MESICNE', 930108),
 (436, 30, 'POPLATEK MESICNE', 960807),
 (437, 43, 'POPLATEK MESICNE', 931203),
 (438, 37, 'POPLATEK MESICNE', 970623),
 (439, 69, 'POPLATEK MESICNE', 960415),
 (440, 29, 'POPLATEK MESICNE', 961222),
 (441, 27, 'POPLATEK TYDNE', 931217),
 (442, 54, 'POPLATEK MESICNE', 970330),
 (443, 64, 'POPLATEK MESICNE', 930128),
 (444, 26, 'POPLATEK MESICNE', 960509),
 (445, 63, 'POPLATEK TYDNE', 930729),
 (446, 50, 'POPLATEK MESICNE', 930615),
 (447, 5, 'POPLATEK MESICNE', 960814),
 (449, 19, 'POPLATEK MESICNE', 941122),
 (450, 59, 'POPLATEK MESICNE', 960528),
 (451, 11, 'POPLATEK MESICNE', 940505),
 (452, 63, 'POPLATEK MESICNE', 951129),
 (453, 75, 'POPLATEK MESICNE', 970424),
 (454, 7, 'POPLATEK MESICNE', 950507),
 (455, 54, 'POPLATEK MESICNE', 950423),
 (456, 49, 'POPLATEK MESICNE', 930121),
 (458, 7, 'POPLATEK MESICNE', 950616),
 (459, 47, 'POPLATEK MESICNE', 930121),
 (460, 1, 'POPLATEK MESICNE', 940418),
 (461, 30, 'POPLATEK MESICNE', 930218),
 (462, 29, 'POPLATEK MESICNE', 931110),
 (463, 51, 'POPLATEK MESICNE', 950508),
 (464, 43, 'POPLATEK MESICNE', 970528),
 (465, 32, 'POPLATEK MESICNE', 930204),
 (466, 71, 'POPLATEK MESICNE', 960218),
 (467, 74, 'POPLATEK MESICNE', 930924),
 (468, 49, 'POPLATEK MESICNE', 960319),
 (469, 72, 'POPLATEK MESICNE', 970714),
 (470, 64, 'POPLATEK MESICNE', 940323),
 (471, 47, 'POPLATEK MESICNE', 950607),
 (472, 8, 'POPLATEK MESICNE', 961011),
 (473, 73, 'POPLATEK MESICNE', 961020),
 (474, 61, 'POPLATEK MESICNE', 951206),
 (475, 3, 'POPLATEK MESICNE', 970511),
 (476, 69, 'POPLATEK MESICNE', 970411),
 (477, 1, 'POPLATEK MESICNE', 930125),
 (478, 58, 'POPLATEK MESICNE', 940716),
 (479, 1, 'POPLATEK MESICNE', 951105),
 (480, 23, 'POPLATEK MESICNE', 970121),
 (481, 72, 'POPLATEK MESICNE', 960423),
 (483, 70, 'POPLATEK MESICNE', 970715),
 (484, 1, 'POPLATEK MESICNE', 950120),
 (485, 6, 'POPLATEK PO OBRATU', 930104),
 (486, 33, 'POPLATEK MESICNE', 951121),
 (487, 40, 'POPLATEK MESICNE', 951114),
 (488, 25, 'POPLATEK MESICNE', 960620),
 (489, 16, 'POPLATEK MESICNE', 930517),
 (490, 45, 'POPLATEK MESICNE', 950523),
 (491, 44, 'POPLATEK MESICNE', 960512),
 (492, 5, 'POPLATEK MESICNE', 931010),
 (493, 26, 'POPLATEK MESICNE', 940405),
 (494, 60, 'POPLATEK MESICNE', 930311),
 (496, 69, 'POPLATEK MESICNE', 930226),
 (497, 55, 'POPLATEK MESICNE', 930415),
 (498, 1, 'POPLATEK MESICNE', 931121),
 (500, 56, 'POPLATEK MESICNE', 960427),
 (501, 13, 'POPLATEK MESICNE', 951021),
 (502, 1, 'POPLATEK MESICNE', 971013),
 (503, 1, 'POPLATEK MESICNE', 960808),
 (504, 73, 'POPLATEK MESICNE', 930421),
 (505, 64, 'POPLATEK MESICNE', 961216),
 (506, 67, 'POPLATEK MESICNE', 960708),
 (507, 52, 'POPLATEK MESICNE', 960617),
 (508, 74, 'POPLATEK MESICNE', 961119),
 (509, 36, 'POPLATEK MESICNE', 970814),
 (510, 1, 'POPLATEK TYDNE', 930602),
 (511, 14, 'POPLATEK MESICNE', 961110),
 (512, 68, 'POPLATEK MESICNE', 970114),
 (513, 58, 'POPLATEK MESICNE', 961121),
 (514, 70, 'POPLATEK MESICNE', 960330),
 (515, 57, 'POPLATEK MESICNE', 950209),
 (516, 6, 'POPLATEK MESICNE', 960208),
 (517, 76, 'POPLATEK MESICNE', 930922),
 (518, 74, 'POPLATEK MESICNE', 940909),
 (519, 24, 'POPLATEK MESICNE', 931112),
 (520, 60, 'POPLATEK MESICNE', 931104),
 (521, 9, 'POPLATEK MESICNE', 951008),
 (522, 17, 'POPLATEK MESICNE', 951220),
 (523, 1, 'POPLATEK MESICNE', 930811),
 (524, 61, 'POPLATEK MESICNE', 940503),
 (525, 70, 'POPLATEK MESICNE', 960320),
 (526, 67, 'POPLATEK MESICNE', 960716),
 (528, 17, 'POPLATEK MESICNE', 961230),
 (529, 39, 'POPLATEK MESICNE', 970818),
 (530, 54, 'POPLATEK MESICNE', 961119),

## Utilizando Pandas

O resultado do método `.fetchall()` é uma lista. Embora listas sejam facilmente transformadas em `DataFrames`, podemos economizar esforços utilizando a função `read_sql_query()` da biblioteca Pandas.

In [80]:
import pandas as pd

Para utilizarmos está função precisaremos do nosso `Engine`, criado através da **SQLAlchemy** na primeira parte da aula.

In [ ]:
with engine.begin() as conn:
    tb_account = pd.read_sql_query(text("SELECT * FROM account"), conn)
tb_account.head()

In [81]:
tb_account = pd.read_sql_query("SELECT * FROM account", engine)
tb_account.head()

   account_id  district_id         frequency    date
0           1           18  POPLATEK MESICNE  950324
1           2            1  POPLATEK MESICNE  930226
2           3            5  POPLATEK MESICNE  970707
3           4           12  POPLATEK MESICNE  960221
4           5           15  POPLATEK MESICNE  970530

Os queries que vimos acima são *one-liners*: simples o suficiente para serem escritos em uma linha de código. Conforme a complexidade de nossos queries aumenta, devemos utilizar *strings multi-line* ou arquivos `.sql` para guardar nossos queries:

In [82]:
query_loan = '''
SELECT
	l.*,
	c.*
FROM 
	bank.loan l JOIN
	bank.account a ON (l.account_id = a.account_id) JOIN 
	bank.disp d ON (a.account_id = d.account_id) JOIN 
	bank.client c ON (d.client_id = c.client_id)
'''
tb_district_loan = pd.read_sql_query(query_loan, engine)
tb_district_loan.head()

,loan_id,account_id,date,amount,duration,payments,status,client_id,birth_number,district_id
0,4959,2,940105,80952,24,3373.0,A,2,450204,1
1,4959,2,940105,80952,24,3373.0,A,3,406009,1
2,4961,19,960429,30276,12,2523.0,B,25,395423,21
3,4962,25,971208,30276,12,2523.0,A,31,620209,68
4,4967,37,981014,318480,60,5308.0,D,45,520826,20

Outra forma de estruturar nossos queries é salvando-os em arquivos externos `.sql` - dessa forma mantemos separados Python e SQL de uma forma simples:

In [83]:
fd = open('queries/QUERY_DISTRICT_LOAN.sql', 'r')
sqlFile = fd.read()
fd.close()
print(sqlFile)

SELECT
	d.A4 AS total_pop,
	d.A9 AS num_cities,
	d.A10 AS urb_pop_ratio,
	(d.A12 + d.A13) AS avg_unemploy,
	(d.A15 + d.A16)/(2 * d.A4) AS avg_crime_rate,
	tx_emp_distrito.TX_DEVEDORES AS tx_devedores,
	tx_emp_distrito.NUM_EMPRESTIMOS AS num_emprestimos
FROM
	bank.district d JOIN
	(
		SELECT
			c.district_id,
			AVG(
				CASE
					WHEN l.status = 'B' OR l.status = 'D' THEN 1
					ELSE 0
				END
			) AS TX_DEVEDORES,
			COUNT(*) AS NUM_EMPRESTIMOS
		FROM
			bank.client c JOIN
			bank.disp d ON (c.client_id = d.client_id) JOIN
			bank.account a ON (d.account_id = a.account_id) JOIN
			bank.loan l ON (a.account_id = l.account_id) JOIN
			bank.district d2 ON (c.district_id = d2.A1)
		GROUP BY
			c.district_id
	) AS TX_EMP_DISTRITO ON (TX_EMP_DISTRITO.district_id = d.a1)

In [84]:
tb_district_loan = pd.read_sql_query(sqlFile, engine)
tb_district_loan.head()

,total_pop,num_cities,urb_pop_ratio,avg_unemploy,avg_crime_rate,tx_devedores,num_emprestimos
0,1204953,1,100.0,0.72,0.0767,0.0612,98
1,88884,5,46.7,3.52,0.0272,0.0000,9
2,75232,5,41.7,4.16,0.0375,0.2500,8
3,149893,6,67.4,9.69,0.0371,0.3333,6
4,95616,6,51.4,8.28,0.0296,0.0833,12

# Action Queries

Action queries (o **C**, **U** e **D** em **CRUD**) são queries que realizam alterações em nosso DB:

1) **CREATE** nos permite criar tabelas e DBs através dos queries:
    * **CREATE TABLE *nome_tabela* (*coluna_1* *tipo*, *coluna_2* *tipo*, *...*)** para criar tabelas;
    * **CREATE DATABASE *nome_db*** para criar DBs;
    * **INSERT INTO *nome_tabela* VALUES (*valor1*, *valor2*, *...*)** para inserir uma nova linha na tabela *nome_tabela* com valores igual à *valor1*, *valor2*, *...*
1) **UPDATE** nos permite alterar uma estrutura existente em nosso DB;
    * **ALTER TABLE *nome_tabela* ADD PRIMARY KEY *nome_coluna*** para criar uma chave primaria em uma tabela existente; 
    * **ALTER TABLE *nome_tabela* ADD FOREIGN KEY (*nome_coluna*) REFERENCES *nome_outra_tabela*(*nome_coluna_2*)** para criar um relação entre as tabelas *nome_tabela* e *nome_outra_tabela* através das colunas *nome_coluna* e *nome_coluna_2*;
    * **UPDATE *nome_tabela* SET *coluna_1* = *valor1*, *coluna_2* = *valor2* ... WHERE *condição*** para alterar os valores das colunas *coluna_1*, *coluna_2*, *...*, em todas as linhas onde *condição* é verdadeira.
1) **DELETE** nos permite excluir objetos do nosso DB;
    * **DROP DATABASE IF EXISTS *nome_db*** para excluir o DB *nome_db* caso ele exista;
    * **DROP TABLE IF EXISTS *nome_db.nome_tabela*** para excluir a tabela *nome_tabela* do DB *nome_db*;
    * **DROP TABLE IF EXISTS *nome_db.nome_tabela* CASCADE** para excluir a tabela *nome_tabela* do DB *nome_db* e todas as tabelas que dependam de *nome_tabela*;
    * **DELETE FROM *nome_tabela* WHERE *condição*** para excluir todas as linhas ta tabela *nome_tabela* onde *condição* seja verdadeira.

    Vamos criar parte do nosso DB da Ironhack que criamos no sábado utilizando os queries acima:

In [ ]:
engine.execute("DROP DATABASE ironhack")

In [ ]:
engine.execute("CREATE DATABASE ironhack")

Com o DB criado, vamos criar as tabelas `aluno`, `turma` e `matricula`:

In [ ]:
query_aluno = '''
    CREATE TABLE ironhack.aluno (
        id_aluno int NOT NULL PRIMARY KEY,
        nome varchar(255) NOT NULL,
        email varchar(255)
    )
'''

query_turma = '''
    CREATE TABLE ironhack.turma (
        id_turma int NOT NULL PRIMARY KEY,
        area varchar(255) NOT NULL,
        tipo varchar(255) NOT NULL,
        campus varchar(255) NOT NULL,
        data_inicio date NOT NULL
    )
'''

query_matricula = '''
    CREATE TABLE ironhack.matricula (
        id_matricula int NOT NULL PRIMARY KEY,
        id_aluno int NOT NULL,
        id_turma int NOT NULL,
        data_matricula date NOT NULL,
        FOREIGN KEY (id_turma) REFERENCES ironhack.turma(id_turma)
    )
'''

Vamos utilizar os queries acima para criar as três tabelas em nosso DB:

In [ ]:
engine.execute(query_aluno)
engine.execute(query_turma)
engine.execute(query_matricula)

No DB acima não declaramos a relação entre a tabela `matricula` e a tabela `aluno`. Vamos utilizar o **ALTER TABLE** para adicionar essa relação:

In [ ]:
query_fk = '''
    ALTER TABLE ironhack.matricula
    ADD FOREIGN KEY (id_aluno)
    REFERENCES ironhack.aluno(id_aluno)
'''

engine.execute(query_fk)

Agora vamos criar os dados de nossa escola:

In [ ]:
lista_alunos = [
    (1, 'Guilherme', 'guilherme_93@gmail.com'),
    (2, 'Guilherme', 'guilherme_71@gmail.com'),
    (3, 'Alexa', 'alexa@gmail.com'),
    (4, 'Breno', 'breno@gmail.com'),
    (5, 'Thomas', 'thomas@gmail.com'),
    (6, 'Matheus', 'matheus@gmail.com'),
    (7, 'José', 'jose@gmail.com'),
    (8, 'Maria', 'maria@gmail.com'),
    (9, 'Madalena', 'madalena@gmail.com'),
    (10, 'Miguel', 'miguel@gmail.com'),
    (11, 'Berenice', 'berenice@gmail.com')
]

In [ ]:
lista_turmas = [
    (99, 'DA', 'PT', 'SAO_RMT'),
    (54, 'WD', 'FT', 'SAO_RMT'),
    (112, 'DA', 'FT', 'MEX_RMT')
]

In [ ]:
lista_matriculas = [
    (1, 1, 99),
    (2, 2, 99),
    (3, 3, 99),
    (4, 4, 99),
    (5, 5, 99),
    (6, 6, 99),
    (7, 5, 54),
    (8, 7, 54),
    (9, 8, 54),
    (10, 9, 54),
    (11, 10, 112),
    (11, 11, 112),
]

Como nossas tabelas tem relações de **depêndencia**, representandas pelas `FOREIGN KEYS`, precisamos começar inserindo os valores nas tabelas **independentes** (em nosso caso, as tabelas `aluno` e `turma`).

Vamos redefinir nosso `engine` para conectarmos o novo DB:

In [ ]:
user = "root"
password = "swpmlu23-"
url_banco = "localhost"
nome_db = "ironhack"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"
engine = create_engine(conn_str)

Poderíamos usar um query simples de `INSERT` junto com um loop para inserirmos os dados diretamente através do engine. Mas a biblioteca SQLAlchemy nos fornece um caminho mais simples e eficientes através do objeto `MetaData`:

In [ ]:
from sqlalchemy import MetaData

In [ ]:
meta = MetaData(bind=engine)
meta.reflect()

Vamos utilizar o objeto `meta` para acessar *simbolicamente* a nossa tabela `aluno`:

In [ ]:
tb_db_alunos = meta.tables['aluno']

A partir do novo objeto `tb_db_alunos` podemos utilizar o método `.insert().values()` para inserir em massa os nossos dados na tabela.

In [ ]:
load_alunos = tb_db_alunos.insert().values(lista_alunos)
engine.execute(load_alunos)